@use '../forward.scss';

body.dark-theme {
	background-color: #121212;
  color: white;
}      

.modal-content {
  &.dark-theme {
    background-color: black;
  }
  &__title {
    &.dark-theme {
      background-color: #121212;
    }
  }
}