@use '../forward.scss';

.recommendation__box {
  &.dark-theme {
    background-color: forward.$backColorElemDark;
  }
}

.block-empty {
  &.dark-theme {
    background-color: forward.$backColorElemDark;
  }
}

.recommendation-card {
  &.dark-theme {
    background-color: rgba(255, 255, 255, 0.4);
  }
  &__title {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transition: .2s;
        &.dark-theme {
          color: white;
        }
      }
    }
  }
}

.support__header {
  &.dark-theme {
    background-color: black;
  }
}

.support__main {
  &.dark-theme {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.support__footer {
  &.dark-theme {
    background-color: black;
  }
  &-message {
    &.dark-theme {
      background-color: rgb(46, 46, 46);
      color: white;
    }
  }
}

