@use '../forward.scss';

body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}                                                    
                                                    //ШАПКА

.navbar {
    &.dark-theme {
        background-color: black;
		color: white;
    }
}

#search__line-line {
    &.dark-theme {
        background-color: #0000005c;
        color: #ffffff;
    }
}

.menu-mobile {
    &.dark-theme {
        background-color: black;
    }
}

.header-profile {
    &.dark-theme {
        background-color: black;
        color: white;
    }  
}

.header-profile__title {
    &.dark-theme {
        color: white;
    }  
}

                                                    //ФУТЕР

.footer {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
    }
}

.footer__section-item-style {
    transition: .3s;
    &.dark-theme {
		&:hover {
			color: white;
		}
    }
}

.footer__link-item {
    &.dark-theme {
		background-color: #000000;
    }
}

                                                    //ГЛАВНАЯ

.filters-block {
    &.dark-theme {
        background-color: forward.$backColorElemDark;;
    }
}

.filters-block__sort-title {
    &.dark-theme {
        color: white;
    }
    &.dark-theme:hover {
        color: rgba(255, 255, 255, 0.5);
    }
}

.sort-menu {
    &.dark-theme {
        background-color: black;
    }
}

.sort-option:hover {
    &.dark-theme {
        color: black;
    }
}

.filter-menu {
    &.dark-theme {
        background-color: black;
    }
}

.filter-menu__title {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
        color: white;
    }
}

.accordion__header {
    &.dark-theme {
        background-color: black;
        color: white;
        &:hover {
            color: rgba(255, 255, 255, 0.8);
            background-color: #262f39;
        }
    }
}

.accordion__item {
    &.dark-theme {
        background-color: black;
        color: white;
        &:hover {
            background-color: #262f39;
        }
    }
}

.accordion__price {
    &.dark-theme {
        background-color: black;
    }
}

.accordion__content {
    &.dark-theme {
       border-bottom: 2px solid #262f39;
    }
}

.categories-name-main:hover {
    &.dark-theme {
        color: white;
        border-bottom: 2px solid white;
    }
}

.setka {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
    }
}

.card {
    &.dark-theme {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.card__title:hover {
    transition: .2s;
    &.dark-theme {
        color: white;
    }
}

                                                    //ИЗБРАННОЕ

.favourites-box__table-header {
    &.dark-theme {
        background-color: black;
    }
}

                                                    //ПРОФИЛЬ

.form__registration {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
    }
}

.profile-aside {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
        color: white;
    }
}

.profile-fav {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
        color: white;
    }
}

.profile-fav__block-title {
    &.dark-theme {
        color: white;
    }
}

.profile-fav__block-title:hover {
    &.dark-theme { 
        color: rgba(255, 255, 255, 0.5);
    }
}

.profile-basket {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
        color: white;
    }
}

.profile-basket__block-title {
    &.dark-theme {
        color: white;
    }
}

.profile-basket__block-title:hover {
    &.dark-theme { 
        color: rgba(255, 255, 255, 0.5);
    }
}

                                                    //КОРЗИНА

.basket-box__product-controls {
    &.dark-theme {
        background-color: #121212;
    }
}

.basket-box__table-header {
    &.dark-theme {
        background-color: black;
    }
}

.basket-box__footer {
    &.dark-theme {
        background-color: black;
    }
}

.count__up {
    &.dark-theme {
        background-color: #121212;
    }
}

.count__down {
    &.dark-theme {
        background-color: #121212;
    }
}

.basket-delivery {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
        color: white;
    }    
}

.basket-delivery__left {
    &.dark-theme {
        background-color: black;
    }    
}

.basket-delivery__left-rules {
    &.dark-theme {
        color: white;
    }    
    &.dark-theme:hover {
        color: blue;
    }   
}

.basket-delivery__right {
    &.dark-theme {
        background-color: black;
    }    
}

                                                    //ВСПОМОГАТЕЛЬНОЕ
.recommendation__box {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
    }
}

.basket__empty {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
    }
}

.recommendation-card {
    &.dark-theme {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.recommendation-card__title:hover {
    transition: .2s;
    &.dark-theme {
        color: white;
    }
}

.support__header {
    &.dark-theme {
        background-color: black;
    }
}

.support__main {
    &.dark-theme {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.support__footer {
    &.dark-theme {
        background-color: black;
    }
}

.support__footer-message {
    &.dark-theme {
        background-color: rgb(46, 46, 46);
        color: white;
    }
}

.modal-content {
    &.dark-theme {
        background-color: black;
    }
}

.modal-content__title {
    &.dark-theme {
        background-color: #121212;
    }
}