@use '../forward.scss';

body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}            

input#search__line-input.dark-theme:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #8a7d8f inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
}

input.form__registration-item.dark-theme:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #313333 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
}

                                                    //ШАПКА

.navbar {
    &.dark-theme {
        background-color: black;
		color: white;
    }
}

#search__line-input {
    &.dark-theme {
        background-color: #0000005c;
        color: #ffffff;
    }
}

.menu-mobile {
    &.dark-theme {
        background-color: black;
    }
}

.header-profile {
    &.dark-theme {
        background-color: black;
        color: white;
    }  
    &__title {
        &.dark-theme {
            color: white;
        } 
    }
}

                                                    //ФУТЕР

.footer {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
    }
    &__section-item-style {
        transition: .3s;
        &.dark-theme {
	    	&:hover {
	    		color: white;
	    	}
        }
    }
    &__link-item {
        &.dark-theme {
		    background-color: #000000;
        }
    }
}

                                                    //ГЛАВНАЯ

.filters-block {
    &.dark-theme {
        background-color: forward.$backColorElemDark;;
    }
    &__sort-title {
        &.dark-theme {
            color: white;
        }
        &.dark-theme:hover {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.sort-menu {
    &.dark-theme {
        background-color: black;
    }
}

.sort-option:hover {
    &.dark-theme {
        color: black;
    }
}

.filter-menu {
    &.dark-theme {
        background-color: black;
    }
    &__title {
        &.dark-theme {
            background-color: forward.$backColorElemDark;
            color: white;
        }
    }
}

.accordion__header {
    &.dark-theme {
        background-color: black;
        color: white;
        &:hover {
            color: rgba(255, 255, 255, 0.8);
            background-color: #262f39;
        }
    }
}

.accordion__item {
    &.dark-theme {
        background-color: black;
        color: white;
        &:hover {
            background-color: #262f39;
        }
    }
}

.accordion__price {
    &.dark-theme {
        background-color: black;
    }
}

.accordion__content {
    &.dark-theme {
       border-bottom: 2px solid #262f39;
    }
}

.accordion__input {
    &.dark-theme {
       color: white;
    }
}

.accordion__input-block {
    &.dark-theme {
       background-color: #414343;
    }
}

.categories-name-main:hover {
    &.dark-theme {
        color: white;
        border-bottom: 2px solid white;
    }
}

.setka {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
    }
}

.card {
    &.dark-theme {
        background-color: rgba(255, 255, 255, 0.4);
    }
    &__title:hover {
        transition: .2s;
        &.dark-theme {
            color: white;
        }
    }
}

.load-more__btn-forward {
    &_active {
        &.dark-theme {
            background-color: #4e5050;
            color: white;
        }
        &:hover {
            &.dark-theme {
                background-color: #4e5050a0;
                color: white;
            }
        }
    }
    &_disabled {
        &.dark-theme {
            background-color: #a2a2a2;
            color: rgb(78, 78, 78);
        }
        &:hover {
            &.dark-theme {
                background-color: #a2a2a2 !important;
                color: rgb(78, 78, 78);
            }
        }
    }
}

.load-more__btn-back {
    &_active {
        &.dark-theme {
            background-color: #4e5050;
            color: white;
        }
        &:hover {
            &.dark-theme {
                background-color: #4e5050a0;
                color: white;
            }
        }
    }
    &_disabled {
        &.dark-theme {
            background-color: #a2a2a2;
            color: rgb(78, 78, 78);
        }
        &:hover {
            &.dark-theme {
                background-color: #a2a2a2 !important;
                color: rgb(78, 78, 78);
            }
        }
    }
}

                                                    //ИЗБРАННОЕ

.favourites-box__table-header {
    &.dark-theme {
        background-color: black;
    }
}

                                                    //ПРОФИЛЬ

.form__registration {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
    }
    &-item {
        &.dark-theme {
            background-color: #0000005e;
            color: white;
            border: 1px solid gray;
            &:focus {
                background-color: #0000002f;
            }
        }
    }
}

.profile-aside {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
        color: white;
    }
}

.profile-fav {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
        color: white;
    }
    &__block-title {
        &.dark-theme {
            color: white;
        }
        &:hover {
            &.dark-theme {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

.profile-basket {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
        color: white;
    }
    &__block-title {
        &.dark-theme {
            color: white;
        }
        &:hover {
            &.dark-theme {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

                                                    //КОРЗИНА

.basket-box__product-controls {
    &.dark-theme {
        background-color: #121212;
    }
}

.basket-box__table-header {
    &.dark-theme {
        background-color: black;
    }
}

.basket-box__footer {
    &.dark-theme {
        background-color: black;
    }
}

.basket-box__product-count-box {
    &.dark-theme {
        background-color: black;
    }
}

.basket-box__product-count-input {
    &.dark-theme {
        background-color: black;
        color: white;
        border-radius: 3px;
    }
}

.count__up {
    &.dark-theme {
        background-color: #121212;
    }
}

.count__down {
    &.dark-theme {
        background-color: #121212;
    }
}

.basket-delivery {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
        color: white;
    }    
    &__left {
        &.dark-theme {
            background-color: black;
        }  
        &-rules {
            &.dark-theme {
                color: white;
            }    
            &.dark-theme:hover {
                color: blue;
            }  
        }
    }
    &__right {
        &.dark-theme {
            background-color: black;
        }  
        &-select {
            &.dark-theme {
                background-color: rgb(149 150 150);
                color: black
            }
        }
    }
}

.basket-svg_passive.dark-theme {
    &.dark-theme {
        fill: rgb(18 18 18);
    }
}

                                                    //ВСПОМОГАТЕЛЬНОЕ
.recommendation__box {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
    }
}

.basket__empty {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
    }
}

.recommendation-card {
    &.dark-theme {
        background-color: rgba(255, 255, 255, 0.4);
    }
    &__title:hover {
        transition: .2s;
        &.dark-theme {
            color: white;
        }
    }
}

.support__header {
    &.dark-theme {
        background-color: black;
    }
}

.support__main {
    &.dark-theme {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.support__footer {
    &.dark-theme {
        background-color: black;
    }
    &-message {
        &.dark-theme {
            background-color: rgb(46, 46, 46);
            color: white;
        }
    }
}

.modal-content {
    &.dark-theme {
        background-color: black;
    }
    &__title {
        &.dark-theme {
            background-color: #121212;
        }
    }
}