@use '../forward.scss';

.categories-dropdown {
  &.dark-theme {
    background-color: black;
	  color: white;
  }
  &__item_passive {
    &.dark-theme {
      background-color: rgba(0, 0, 0, 0.6);
	  	color: white;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
		      background-color: forward.$buttonColor;
		      border-radius: 10px;
		      color: #9814ad;
		      transition: background-color .1s;
        }
      }
    }
  }
}

.search__line-input {
  &.dark-theme {
    background-color: #0000005c;
    color: white;
    @include forward.autofill-styles(#8a7d8f, white, white);
  }
}

.header-nav-mobile {
  &.dark-theme {
    background-color: black;
  }
}

.profile-dropdown {
  &.dark-theme {
    background-color: black;
    color: white;
  }  
  &__title {
    &.dark-theme {
      color: white;
    } 
  }
}