@use '@/stylesheets_scss/forward.scss';

.filters-block {
  &.dark-theme {
    background-color: forward.$backColorElemDark;;
  }
  &__sort-title {
    &.dark-theme {
      color: white;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: rgb(255 255 255 / 0.5);
        }
      }
    }
  }
}

.sort-menu {
  &.dark-theme {
    background-color: black;
  }
}

.sort-option {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &.dark-theme {
        color: black;
      }
    }
  }
}

.filter-menu {
  &.dark-theme {
    background-color: black;
  }
  &__title {
    &.dark-theme {
      background-color: forward.$backColorElemDark;
      color: white;
    }
  }
}

.accordion__header {
  &.dark-theme {
    background-color: black;
    color: white;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: rgb(255 255 255 / 0.8);
        background-color: #262f39;
      }
    }
  }
}

.accordion__item {
  &.dark-theme {
    background-color: black;
    color: white;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #262f39;
      }
    }
  }
}

.accordion__price {
  &.dark-theme {
    background-color: black;
  }
}

.accordion__content {
  &.dark-theme {
    border-bottom: 2px solid #262f39;
  }
}

.accordion__input {
  &.dark-theme {
    color: white;
  }
}

.accordion__input-block {
  &.dark-theme {
    background-color: #414343;
  }
}

.categories-name-main {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      &.dark-theme {
        color: white;
        border-bottom: 2px solid white;
      }
    }
  }
  &.passive {
    &.dark-theme {
      &:hover {
        color: #808080;
        border-bottom: 2px solid transparent;
      }
    }
  }
}

.setka {
  &.dark-theme {
    background-color: forward.$backColorElemDark;
  }
}

.card {
  &.dark-theme {
    background-color: rgb(255 255 255 / 0.4);
  }
  &__title {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transition: .2s;
        &.dark-theme {
          color: white;
        }
      }
    }
  }
}

.pagination__button-forward {
  &_active {
    &.dark-theme {
      background-color: #4e5050;
      color: white;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        &.dark-theme {
          background-color: #4e5050a0;
          color: white;
        }
      }
    }
  }
  &_disabled {
    &.dark-theme {
      background-color: #a2a2a2;
      color: rgb(78, 78, 78);
    }
    &:hover {
      &.dark-theme {
        background-color: #a2a2a2;
        color: rgb(78, 78, 78);
      }
    }
  }
}

.pagination__button-back {
  &_active {
    &.dark-theme {
      background-color: #4e5050;
      color: white;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        &.dark-theme {
          background-color: #4e5050a0;
          color: white;
        }
      }
    }
  }
  &_disabled {
    &.dark-theme {
      background-color: #a2a2a2;
      color: rgb(78, 78, 78);
    }
    &:hover {
      &.dark-theme {
        background-color: #a2a2a2;
        color: rgb(78, 78, 78);
      }
    }
  }
}