@use '../forward.scss';

.form__registration {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
    }
    &-item {
        &.dark-theme {
            background-color: #0000005e;
            color: white;
            border: 1px solid gray;
            @include forward.autofill-styles(#313333, white, white);
            &:focus {
                background-color: #0000002f;
            }
        }
    }
}

.profile-aside {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
        color: white;
    }
}

.profile-fav {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
        color: white;
    }
    &__block-title {
        &.dark-theme {
            color: white;
        }
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                &.dark-theme {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
}

.profile-basket {
    &.dark-theme {
        background-color: forward.$backColorElemDark;
        color: white;
    }
    &__block-title {
        &.dark-theme {
            color: white;
        }
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                &.dark-theme {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
}