@use '../abstracts' as *;																

html {
  font-size: 16px;
  body {
    background-color: var(--bg-body);
    color: var(--text-body);
	  font-family: $fontSegoe;
    &.modal-open {
      overflow: hidden;
    }
  }
}

input[type="text"]::-ms-clear { display: none; width : 0; height: 0; }
input[type="text"]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input::-webkit-input-placeholder { color: rgb(0 0 0 / 0.6) !important; }
input:-moz-placeholder { color: rgb(0 0 0 / 0.6) !important; }
input::-moz-placeholder { color: rgb(0 0 0 / 0.6) !important; }
input:-ms-input-placeholder { color: rgb(0 0 0 / 0.6) !important; }

input[type="number"] {
  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button {
    appearance: none;
  }
  -moz-appearance: textfield;
  appearance: textfield;
}

button, input, textarea, select {
  font-family: Arial, sans-serif;
  font-size: 0.83em;
}

button { 
  user-select: none; 
  cursor: pointer;
}

image,
picture { user-select: none; }




