@use '../forward.scss';																
																	
.recommendation {
	display: flex;
	flex-direction: column;
	justify-content: start;
    margin: 50px 0;
    font-size: 30px;
	&-loading {
		text-align: center;
		padding: 20px;
	}
	&__title {
		line-height: 2;
		cursor: default;
	}
    &__box {
        padding: 30px 0px;
		position: relative;
        background-color: forward.$backColorElem;
        box-sizing: border-box;
        width: 100%;
        border-radius: 19px;
        display: flex;
		align-items: center;
    }
	&__left-btn {
	    background-color: rgba(0, 0, 0, 0.5);
	    border: none;
	    color: white;
	    cursor: pointer;
	    min-height: 44px;
	    max-height: 44px;
	    min-width: 44px;
	    max-width: 44px;
	    border-radius: 50%;
	    transition: 0.3s;
	    z-index: 1;
		position: absolute;
		left: 10px;
		@include forward.flex-center;
		transform: rotate(-90deg);
	    &:hover{
		    background-color: black;
	    }
	}
	&__right-btn {
	    background-color: rgba(0, 0, 0, 0.5);
	    border: none;
	    color: white;
	    cursor: pointer;
	    min-height: 44px;
	    max-height: 44px;
	    min-width: 44px;
	    max-width: 44px;
	    border-radius: 50%;
	    transition: 0.3s;
	    z-index: 1;
		position: absolute;
		@include forward.flex-center;
		right: 10px;
		transform: rotate(90deg);
	    &:hover{
		    background-color: black;
	    }
	}
	&__container {
		padding: 0 20px;
		display: flex;
		overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none; 
		&::-webkit-scrollbar {
            display: none;
        }
	}
}

.recommendation-card {
    min-width: 250px;
    max-width: 250px;
    margin: 0 10px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    transition: 0.2s;
    background-color: #ffffff;
    user-select: none;
    &:hover { 
    	box-shadow: 4px 8px 16px rgba(117, 14, 107, 0.2);
    }
    &__top { 
    	flex: 0 0 220px;
    	position: relative;
    	overflow: hidden;
    }
    &__image { 
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	display: block;
    	& > img { 
    		width: 100%;
    		height: 100%;
    		object-fit: contain;
    		transition: 0.2s;
    		pointer-events: none;
    	}
    	&:hover > img { 
    		transform: scale(1.1);
    	}
    }
    &__label { 
    	position: absolute;
    	bottom: 10px;
    	left: 10px;
    	padding: 1px 4px;
    	background-color:  #ff5050;
    	border-radius: 4px;
    	color: white;
    	font-weight: 400;
    	font-size: 16px;
    }
    &__bottom { 
    	flex: 1 0 auto;
    }
    &__prices { 
    	display: flex;
    	margin-bottom: 8px;
    }
    &__price::after { 
    	content: "\20BD";
    	padding-left: 4px;
    	padding-right: 10px;
    }
    &__price-discount { 
    	font-weight: 700;
    	font-size: 17px;
    	color: #000000;
    	display: flex;
    	flex-wrap: wrap-reverse;
    	padding-left: 19px;
    	padding-right: 28px;
    	&::before { 
    		content: "Со скидкой";
    		font-weight: 700;
    		font-size: 13px;
    		color: black;	
    	}
    }
    &__price-count { 
    	font-weight: 400;
    	font-size: 17px;
    	color: #000000;
    	display: flex;
    	flex-wrap: wrap-reverse;
    	justify-content: end;
    	&::before { 
    		content: "Обычная";
    		font-weight: 400;
    		font-size: 13px;
    		color: black;
    		padding-right: 20px;	
    	}
    	&-same { 
    		font-weight: 700;
    		font-size: 17px;
    		color: black;
    		display: flex;
    		flex-wrap: wrap-reverse;
    		justify-content: start;
    		width: 45%;
    		margin-bottom: 10px;
    		padding-left: 19px;
    		&::before { 
    			display: flex;
    			justify-content: start;
    			content: "Обычная";
    			font-weight: 700;
    			font-size: 13px;
    			color: rgb(0, 0, 0);
    			padding-right: 20px;
    		}
    	}
    }
    &__title { 
    	display: block;
    	margin-bottom: 10px;
    	font-weight: 400;
    	font-size: 17px;
    	line-height: 1.3;
    	color: black;
    	text-decoration: none;
    	padding-left: 19px;
    	padding-right: 10px;
    	overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;
		cursor: pointer;
    	&:hover { 
    		color: rgb(96, 22, 118);
    	}
    }
}


																	//АДАПТАЦИЯ 768px

@media (max-width: 1000px) and (min-width: 769px) {
    .recommendation {
        margin: 40px 0;
        &__box {
            width: 95vw;
            margin: 10px auto 0;
        }
        &__title {
            padding-left: 2.5vw;
        }
		&__left-btn { 
			display: none;
		}
		&__right-btn { 
			display: none;
		}
    }
}

																	//АДАПТАЦИЯ 425px

@media (max-width: 768px) and (min-width: 425px) {
    .recommendation {
        margin: 30px 0 40px;
        &__box {
            width: 95vw;
            margin: 0 auto;
        }
        &__title {
            padding-left: 2.5vw;
        }
		&__left-btn { 
			display: none;
		}
		&__right-btn { 
			display: none;
		}
    }

    .recommendation-card {
		min-width: 200px;
        max-width: 200px;
		min-height: 300px;
		&__top { 
			flex: 0 0 180px;
		}
		&__price-discount { 
			font-size: 15px;
			padding: 0 0 0 18px;
		}
		&__price-count { 
			font-size: 15px;
			&-same { 
				font-size: 15px;
				width: 55%;
			}
		}
		&__title { 
			font-size: 15px;
			padding-right: 8px;
		}
    }
}

																	//АДАПТАЦИЯ < 425px

@media (max-width: 425px){
    .recommendation {
        margin: 30px 0;
        &__box {
            padding: 20px 0;
            width: 95vw;
            margin: 0 auto;
        }
        &__title {
            padding-left: 2.5vw;
        }
		&__left-btn { 
			display: none;
		}
		&__right-btn { 
			display: none;
		}
		&__container {
			padding: 0 10px;
		}
    }
    .recommendation-card {
		min-width: 150px;
        max-width: 150px;
		min-height: 255px;
		&__top { 
			flex: 0 0 150px;
		}
		&__price::after { 
			padding-left: 2px;
			padding-right: 3px;
		}
		&__price-discount { 
			font-size: 12px;
			padding: 0 0 0 3px;
			&::before { 
				font-size: 12px;
			}
		}
		&__price-count { 
			font-size: small;
			&::before { 
				padding-right: 3px;
				font-size: 12px;
			}
			&-same { 
				font-size: 12px;
				width: 50%;
				padding-left: 3px;
				&::before { 
					font-size: 12px;
				}
			}
		}
		&__title { 
			font-size: small;
			padding-left: 3px;
			padding-right: 3px;
		}
    }
}
