@use '../forward.scss';			
																	
.recommendation {
	display: flex;
	flex-direction: column;
	justify-content: start;
  margin: 50px 0;
  font-size: 2em;
	&-loading {
		font-size: 0.8em;
		text-align: center;
	}
	&__title {
		font-size: 1em;
		cursor: default;
	}
  &__box {
    padding: 30px 0px;
	  position: relative;
    background-color: forward.$backColorElem;
    border-radius: 19px;
    display: flex;
	  align-items: center;
  }
	&__left-btn {
	  background-color: rgba(0, 0, 0, 0.5);
	  border: none;
	  color: white;
	  cursor: pointer;
	  min-height: 44px;
	  max-height: 44px;
	  min-width: 44px;
	  max-width: 44px;
	  border-radius: 50%;
	  transition: 0.3s;
	  z-index: 100;
		position: absolute;
		left: 10px;
		@include forward.flex-center;
		transform: rotate(-90deg);
	  &:hover {
		  background-color: black;
	  }
	}
	&__right-btn {
	  background-color: rgba(0, 0, 0, 0.5);
	  border: none;
	  color: white;
	  cursor: pointer;
	  min-height: 44px;
	  max-height: 44px;
	  min-width: 44px;
	  max-width: 44px;
	  border-radius: 50%;
	  transition: 0.3s;
	  z-index: 100;
		position: absolute;
		@include forward.flex-center;
		right: 10px;
		transform: rotate(90deg);
	  &:hover {
		  background-color: black;
	  }
	}
	&__container {
		padding: 0 20px;
		display: flex;
		overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
		&::-webkit-scrollbar {
      display: none;
    }
	}
}

.recommendation-card {
  min-width: 260px;
  margin: 0 10px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  transition: 0.2s;
  background-color: #ffffff;
  user-select: none;
  &__top { 
  	flex: 0 0 220px;
  	position: relative;
  	overflow: hidden;
  }
  &__image { 
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	display: block;
  	& > img { 
  		width: 100%;
  		height: 100%;
  		object-fit: contain;
  		transition: 0.2s;
  		pointer-events: none;
  	}
	  @media (hover: hover) and (pointer: fine) {
    	&:hover > img { 
    		transform: scale(1.1);
    	}
	  }
  }
  &__label { 
  	position: absolute;
  	bottom: 5px;
  	left: 10px;
  	padding: 2px 4px;
  	background-color:  #e50000;
  	border-radius: 4px;
  	color: white;
  	font-weight: 400;
  	font-size: 0.5em;
  }
  &__sale { 
	position: absolute;
	bottom: 5px;
	right: 10px;
	padding: 2px 4px;
	background-color: #e50000;
	border-radius: 4px;
	color: white;
	font-weight: 400;
	font-size: 0.5em;
  }
  &__bottom { 
  	flex: 1 0 auto;
  }
  &__prices { 
  	display: flex;
  	margin-bottom: 8px;
  }
  &__price-discount { 
	  width: 50%;
  	font-weight: 700;
  	font-size: 0.53em;
  	color: #000000;
  	display: flex;
  	flex-wrap: wrap;
  	padding-left: 10px;
	  padding-right: 3px;
  	&-title { 
		  width: 100%;
  		font-weight: 700;
  		font-size: 0.81em;
  		color: black;	
  	}
  }
  &__price-count { 
  	font-weight: 400;
  	font-size: 0.53em;
  	color: #000000;
  	display: flex;
  	flex-wrap: wrap;
	  width: 50%;
	  padding-right: 10px;
  	&-title { 
		  width: 100%;
  		font-weight: 400;
  		font-size: 0.81em;
  		color: black;
  		padding-right: 20px;	
  	}
  	&-same { 
  		font-weight: 700;
  		font-size: 0.53em;
  		color: black;
  		display: flex;
  		flex-wrap: wrap;
  		margin-bottom: 10px;
  		padding-left: 10px;
  		&-title { 
			  width: 100%;
  			display: flex;
  			font-weight: 700;
  			font-size: 0.81em;
  			color: rgb(0, 0, 0);
  			padding-right: 20px;
  		}
  	}
  }
  &__title { 
  	display: block;
  	margin-bottom: 10px;
  	font-weight: 400;
  	font-size: 0.53em;
  	line-height: 1.3;
  	color: black;
  	text-decoration: none;
  	padding-inline: 10px;
  	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
	  cursor: pointer;
  	&:hover { 
  		color: rgb(96, 22, 118);
  	}
  }
	@media (hover: hover) and (pointer: fine) {
    &:hover { 
    	box-shadow: 4px 8px 16px rgba(117, 14, 107, 0.2);
    }
	}
}

@media (max-width: forward.$breakpoint-md) {
  .recommendation {
    margin: 10px 0 40px;
	  &__left-btn { 
		  display: none;
	  }
	  &__right-btn { 
		  display: none;
	  }
  }
}

@media (max-width: forward.$breakpoint-sm) {
  .recommendation-card {
		min-width: 200px;
		min-height: 300px;
		&__top { 
			flex: 0 0 180px;
		}
		&__price-discount { 
			font-size: 0.465em;
		}
		&__price-count { 
			font-size: 0.465em;
			&-same { 
				font-size: 0.465em;
			}
		}
		&__title { 
			font-size: 0.465em;
		}
  }
}

@media (max-width: forward.$breakpoint-xs){
  .recommendation {
    margin: 0 0 30px;
    &__box {
      padding: 20px 0;
    }
		&__container {
			padding-inline: 10px;
		}
  }

  .recommendation-card {
		min-width: 150px;
		min-height: 255px;
		&__top { 
			flex: 0 0 150px;
		}
		&__sale {
			right: 3px;
		}
		&__label {
			left: 3px;
		}
		&__price-discount { 
			font-size: 0.375em;
			padding-left: 3px;
			padding-right: 5px;
		}
		&__price-count { 
			font-size: 0.375em;
			padding-right: 3px;
			&-same { 
				font-size: 0.375em;
				width: 50%;
				padding-left: 3px;
			}
		}
		&__title { 
			font-size: 0.405em;
			padding-inline: 3px;
		}
  }
}
