@use '@/stylesheets_scss/forward.scss';

.all-pages-container {
	display: flex;
	height: 100%;
	transition: translate;
	transition-property: transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

.slider__item img {
	width: calc(100% - 0.4px);
	object-fit: cover;
}

.slider {
	user-select: none;
	display: flex;
	align-items: center; 
	justify-content: center;
	height: 250px;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
	&:hover .slider__btn-left, 
  &:hover .slider__btn-right, 
  &:focus .slider__btn-left,
  &:focus .slider__btn-right {
		opacity: 1;
	}
	&__window {
		position: relative;
		height: 100%;
		width: 100%;
		border-radius: 40px;
		overflow: hidden;
	}
	&__item {
		display: flex;
		user-select: none;
		pointer-events: none;
	}
	&__advertisement {
    display: flex;
    align-items: center;
    height: 24px;
		position: absolute;
		right: 25px;
		bottom: 10px;
		color: white;
		padding: 0 10px;
		background-color: rgb(0 0 0 / 0.4);
		backdrop-filter: blur(2px);
		user-select: none;
		border-radius: 20px;
    font-size: 0.93em;
    z-index: 100;
		&::after {
			content: url("/images/icons/description_advertisement.svg");
			padding-left: 5px;
		}
		&-description {
			padding: 5px 10px;
			font-size: 0.75em;
			background-color: black;
			color: white;
			border-radius: 10px;
			position: absolute;
			transform: translateX(-50%);
      left: 50%;
      top: 27px;
			opacity: 0;
			transition: opacity .3s ease;
			user-select: none;
			pointer-events: none;
			line-height: 1.5;
      width: 130px;
			&.show {
				opacity: 1;
			}
		}
	}
	&__btn-left {
		@include forward.flex-center;
		opacity: 0;
		background-color: rgb(0 0 0 / 0.662);
		width: 36px;
		aspect-ratio: 1;
		border: none;
		border-radius: 50%;
		transform: rotate(-90deg);
		transition: .3s;
		cursor: pointer;
		position: absolute;
		left: 25px;
		z-index: 100;
		@media (hover: hover) and (pointer: fine) {
			&:hover,
      &:focus-visible {
				background-color: black;
        opacity: 1;
			}
		}
	}
	&__btn-right {
		@include forward.flex-center;
		opacity: 0;
		background-color: rgb(0 0 0 / 0.662);
		width: 36px;
		aspect-ratio: 1;
		border: none;
		cursor: pointer;
		border-radius: 50%;
		transform: rotate(90deg);
		transition: .3s;
		position: absolute;
		right: 25px;
		z-index: 100;
		@media (hover: hover) and (pointer: fine) {
			&:hover,
      &:focus-visible {
				background-color: black;
        opacity: 1;
			}
		}
	}
	&__btn-svg {
		fill: none;
		width: 24px;
		height: 24px;
		&-path {
			fill: white;
			fill-rule: evenodd;
			clip-rule: evenodd;
		}
	}
}

@media (max-width: forward.$breakpoint-md) {
	.slider {
		height: 230px;
    &__window {
      border-radius: 15px;
    }
		&__advertisement {
			right: 10px;
			&-description {
				display: none;
				&.show {
					display: none;
				}
			}
		}
		&__btn-left,
    &__btn-right {
			display: none;
		}
	}
}

@media (max-width: forward.$breakpoint-sm) {
	.slider {
		height: 170px;
		&__advertisement {
			bottom: 5px;
		}
	}
}

@media (max-width: forward.$breakpoint-xs) {
	.slider {
		height: 130px;
	}
}