@use '../forward.scss';																	
                                                                                                                                     
.basket {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.basket-box {
    width: 100%;
    &__header {
        margin-bottom: 40px;
        text-align: center;
    }
    &__container {
        margin: 0 auto;
        &-title {
            font-size: 28px;
            line-height: 1.3;
            font-weight: 700;
            cursor: default;
        }
    }
    &__table {
        &-header {
            display: grid;
            grid-template-columns: 2fr repeat(3, 3fr) 1fr;
            column-gap: 30px;
            background-color: forward.$backColorElem;
            padding: 22px 0;
            font-weight: 700;
            font-size: 13px;
            line-height: 1.2;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            border-radius: 19px 19px 0 0;
            &-title {
                grid-column-start: 2;
                cursor: default;
            }
        }
    }
    &__product {
        display: grid;
        grid-template-columns: 2fr repeat(3, 3fr) 1fr;
        column-gap: 30px;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.3;
        padding: 20px 0;
        border-bottom: 2px solid rgba(126, 155, 189, 0.3);
        &-img {
            justify-self: center;
            width: 100%;
            user-select: none;
            pointer-events: none;
        }
        &-count {
            display: flex;
            column-gap: 10px;
            align-items: center;
            &-box {
                width: 40px;
                height: 30px;
                background-color: #EAEFF2;
                border-radius: 3px;
            }
            &-input {
                border: none;
                outline: none;
                max-width: 100%;
                padding: 4px 0;
                background-color: transparent;
                text-align: center;
                box-sizing: border-box;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.3;
            }
            &-controls {
                display: flex;
                flex-direction: column;
                row-gap: 9px;
            }
        }
        &-controls {
            border: none;
            background-color: white;
            user-select: none;
            justify-self: center;
            cursor: pointer;
            @media (hover: hover) and (pointer: fine) {
                &:hover .basket-svg_passive {
                    stroke: #9814ad;
                }
            }
        }   
    }
    &__footer {
        display: grid;
        grid-template-columns: 5fr 3fr 4fr;
        column-gap: 30px;
        background-color: forward.$backColorElem;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
        padding: 19px 0;
        border-radius: 0 0 19px 19px;
        &-title {
            grid-column-start: 2;
        }
    }
}

.basket-box__product > * {
    align-self: center;
    justify-self: center;
}

.count__up {
    border: none;
    background-color: white;
    user-select: none;
    cursor: pointer;
}

.count__down {
    border: none;
    background-color: white;
    user-select: none;
    cursor: pointer;
}

.basket-box__product-count-input::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    appearance: none;
}

.basket-box__product-count-controls img {
    display: block;
}

.cross-svg-hover {
    @media (hover: hover) and (pointer: fine) {
        &:hover .cross-svg {
            stroke: red;
        }
    }
}

.cross-svg {
    stroke: #7E9BBD;
    transition: .2s;
}

.basket-svg {
    &_passive {
        fill: white;
        stroke: #7E9BBD;
        transition: .2s;
    }
    &_active {
        fill: #9814ad;
        stroke: #9814ad;
    }
}

.basket-svg-block {
    padding-top: 7px;
}

@media (hover: hover) and (pointer: fine) {
    .count-svg-hover {
        &:hover .count-svg {
            stroke: #9814ad;
        }
    }
}

.count-svg {
    stroke: #A0BBCC;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: .2s;
}

.delivery-label {
    margin: 0 0 23.24px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    cursor: default;
}

.basket-delivery {
    display: flex;
    justify-content: space-between;
    height: 350px;
    width: 100%;
    background-color: forward.$backColorElem;
    border-radius: 19px;
    &__left {
        display: flex;
        background-color: white;
        margin: 25px;
        border-radius: 19px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        padding-left: 50px;
        width: 40%;
        &-count {
            text-transform: uppercase;
            font-size: 20px;
        }
        &-priceTotal {
            text-transform: uppercase;
            font-size: 20px;
        }
        &-btn {
            margin: 0px;
        }
        &-checkbox {
            color: grey;
            user-select: none; 
        }
        &-rules {
            text-decoration: none;
            cursor: pointer;
            color: black;
            &-text {
                padding-left: 4px;
            }
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: blue;
                }
            }
        }
    }
    &__right {
        display: flex;
        background-color: white;
        margin: 25px;
        border-radius: 19px;
        width: 40%;
        flex-direction: column;
        padding-right: 0px;
        padding-left: 50px;
        &-text {
            text-transform: uppercase;
            font-size: 20px;
            margin-top: 16.8px;
        }
        &-select {
            background-color: forward.$backColorElem;
            outline: none;
            border: none;
            border-radius: 6px;
            height: 30px;
            width: 70%;
            & > * {
                cursor: pointer;
            }
        }
    }
}

																	//АДАПТАЦИЯ 768px

@media (max-width: 1000px) and (min-width: 769px) {
    .basket-box {
        width: 95%;
        margin: 0 auto;
    }

    .basket-delivery {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        &__left {
            padding-left: 30px;
            &-checkbox {
                font-size: small;
            }
        }
        &__right {
            padding-left: 30px;
        }
    }
}   

																	//АДАПТАЦИЯ 425px

@media (max-width: 768px) and (min-width: 425px) {
    .basket-box {
        width: 95vw;
        margin: 0 auto;
        &__container-title {
            font-size: 24px;
            padding-right: 10px;
        }
        &__table {
            &-header {
                height: 1px;
                padding: 0;
                & > * {
                    display: none;
                }
            }
        }
        &__product {
            grid-template-columns: repeat(6, 1fr);
            grid-auto-rows: minmax(60px, auto);
            column-gap: 15px;
            row-gap: 10px;
            &-img {
                grid-column: 1/3;
            }
            &-title {
                grid-column: 3/-1;
            }
            &-count {
                grid-column: 1/3;
                justify-self: center;
            }
            &-price {
                grid-column: 3/6;
                justify-self: center;
            }
        }
        &__footer {
            grid-template-columns: 1fr 1fr;
            &-title {
                grid-column-start: 1;
            }
        }
    }

    .basket-delivery {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 700px;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        &__left {
            margin: 25px 25px 0 25px;
            padding-left: 15px;
            width: 80%;
            height: 300px;
            &-checkbox {
                font-size: small;
            }
        }
        &__right {
            margin: 0 25px 25px 25px;
            width: 80%;
            height: 300px;
            padding-left: 15px;
            &-text {
                margin-top: 33.6px;
            }
        }
    }
}

																	//АДАПТАЦИЯ < 425px

@media (max-width: 425px) {
    .basket-box {
        width: 95vw;
        margin: 0 auto;
        &__container-title {
            font-size: 24px;
            padding-right: 10px;
        }
        &__table {
            &-header {
                height: 1px;
                padding: 0;
                & > * {
                    display: none;
                }
            }
        }
        &__product {
            grid-template-columns: repeat(6, 1fr);
            grid-auto-rows: minmax(60px, auto);
            column-gap: 15px;
            row-gap: 10px;
            &-img {
                grid-column: 1/3;
            }
            &-title {
                grid-column: 3/-1;
            }
            &-count {
                grid-column: 1/3;
                justify-self: center;
            }
            &-price {
                grid-column: 3/6;
                justify-self: center;
            }
        }
        &__footer {
            grid-template-columns: 1fr;
            justify-items: end;
            row-gap: 10px;
            padding: 19px 30px 19px 0;
            &-title {
                grid-column-start: 1;
            }
        }
    }

    .basket-delivery {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        &__left {
            margin: 25px 25px 0 25px;
            padding-left: 15px;
            width: 80%;
            height: 300px;
            &-checkbox {
                font-size: 12px;
            }
        }
        &__right {
            margin: 25px;
            width: 80%;
            height: 300px;
            padding-left: 15px;
            &-text {
                margin-top: 33.6px;
            }
        }
    }
}                                                                
