@use '../forward.scss';

.progress-bar { 
	position: fixed;
	margin-top: 72px;
	z-index: 2;
	left: 0;
	top: 0;
	height: 4px;
	width: 0%;
	background: #9814ad;
}

.setka { 
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	justify-content: center;
	justify-items: center;
	column-gap: 30px;
	row-gap: 30px; 
	margin-bottom: 30px;
	background-color: forward.$backColorElem;
    padding: 30px;
    border-radius: 15px;
}

.card { 
	width: 250px;
	min-height: 350px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	position: relative;
	transition: 0.2s;
	background-color: #ffffff;
	user-select: none;
	@media (hover: hover) and (pointer: fine) {
		&:hover { 
			box-shadow: 4px 8px 16px rgba(117, 14, 107, 0.2);
		}
	}
	&__top { 
		flex: 0 0 220px;
		position: relative;
		overflow: hidden;
	}
	&__heart { 
		position: absolute;
		top: 10px;
		right: 10px;
		transition: .3s;
		fill: rgb(118, 118, 118);
		pointer-events: auto;
		cursor: pointer;
		z-index: 1;
		@media (hover: hover) and (pointer: fine) {
			&:hover { 
				fill: rgb(96, 22, 118);
			}
		}
	}
	&__image { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		& > img { 
			width: 100%;
			height: 100%;
			object-fit: contain;
			transition: 0.2s;
			pointer-events: none;
		}
		@media (hover: hover) and (pointer: fine) {
			&:hover > img { 
				transform: scale(1.1);
			}
		}
	}
	&__label {
		position: absolute;
		bottom: 10px;
		left: 10px;
		padding: 1px 4px;
		background-color:  #e50000;
		border-radius: 4px;
		color: white;
		font-weight: 400;
		font-size: 16px;
	}
	&__sale {
		position: absolute;
		bottom: 10px;
		right: 10px;
		padding: 1px 4px;
		background-color: #e50000;
		border-radius: 4px;
		color: white;
		font-weight: 400;
		font-size: 16px;
	}
	&__bottom {
		flex: 1 0 auto;
	}
	&__prices { 
		display: flex;
		margin-bottom: 8px;
	}
	&__price::after { 
		content: "\20BD";
		padding-left: 4px;
		padding-right: 10px;
	}
	&__price-discount { 
		font-weight: 700;
		font-size: 17px;
		color: #000000;
		display: flex;
		flex-wrap: wrap-reverse;
		padding-left: 19px;
		padding-right: 28px;
		&::before { 
			content: "Со скидкой";
			font-weight: 700;
			font-size: 13px;
			color: black;	
		}
	}
	&__price-count { 
		font-weight: 400;
		font-size: 17px;
		color: black;
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: end;
		&::before { 
			content: "Обычная";
			font-weight: 400;
			font-size: 13px;
			color: black;
			padding-right: 20px;	
		}
		&-same { 
			font-weight: 700;
			font-size: 17px;
			color: black;
			display: flex;
			flex-wrap: wrap-reverse;
			justify-content: start;
			width: 45%;
			margin-bottom: 10px;
			padding-left: 19px;
			&::before { 
				display: flex;
				justify-content: start;
				content: "Обычная";
				font-weight: 700;
				font-size: 13px;
				color: black;
				padding-right: 20px;
			}
		}
	}
	&__title { 
		display: block;
		margin-bottom: 10px;
		font-weight: 400;
		font-size: 17px;
		line-height: 1.3;
		color: black;
		text-decoration: none;
		padding-left: 19px;
		padding-right: 10px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		cursor: pointer;
		@media (hover: hover) and (pointer: fine) {
			&:hover { 
				color: rgb(96, 22, 118);
			}
		}
	}
	&__btn { 
		display: block;
		width: 100%;
		font-weight: 400;
		font-size: 17px;
		color: black;
		padding: 10px;
		text-align: center;
		border-radius: 4px;
		cursor: pointer;
		transition: 0.2s;
		position: absolute;
		bottom: 0;
		&_active {
			background-color: forward.$btnColor;
			border: 1px solid black;
			@media (hover: hover) and (pointer: fine) {
				&:hover {
					border: 1px solid rgb(96, 22, 118);
					background-color: rgb(96, 22, 118);
					color: #fff;
				}
			}
		}
		&_disabled {
			background-color: rgb(96, 22, 118);
			color: white;
			border: 1px solid rgb(96, 22, 118);
			&:hover {
				border: 1px solid rgb(96, 22, 118);
				background-color: rgb(96, 22, 118);
				color: #fff;
			}
		}
	}
}

.load-more-box {
	display: flex;
	margin-bottom: 20px;
	user-select: none;
}

.load-more-back {
	display: flex;
	width: 100%;
	justify-content: end;
	margin-right: 3%;
}

.load-more-forward {
	display: flex;
	width: 100%;
	justify-content: start;
	margin-left: 3%;
}

																	//АДАПТАЦИЯ 768px

@media (max-width: 1000px) and (min-width: 768px) {
	.setka { 
		row-gap: 20px; 
		margin: 0 15px 30px;
		padding: 20px;
	}
}


																	//АДАПТАЦИЯ 425px

@media (max-width: 768px) and (min-width: 425px) {
	.setka { 
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		row-gap: 10px; 
		column-gap: 5px;
		margin: 0 5px 20px;
		padding: 10px 5px;
		border-radius: 10px;
	}
	
	.card { 
		width: 200px;
		min-height: 300px;
		&__top { 
			flex: 0 0 180px;
		}
		&__price-discount { 
			font-size: 15px;
			padding: 0 0 0 18px;
		}
		&__price-count { 
			font-size: 15px;
			&-same { 
				font-size: 15px;
				width: 55%;
			}
		}
		&__title { 
			font-size: 15px;
			padding-right: 8px;
		}
	}

	.load-more__btn-back,
	.load-more__btn-forward {
		width: 170px;
		height: 35px;
	}
}

																	//АДАПТАЦИЯ < 425px

@media (max-width: 425px) {
	.setka { 
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		row-gap: 10px; 
		column-gap: 5px;
		margin: 0 5px 20px;
		padding: 10px 2px;
		border-radius: 5px;
	}
	
	.card { 
		width: 150px;
		min-height: 255px;
		&__top { 
			flex: 0 0 150px;
		}
		&__price::after { 
			padding-left: 2px;
			padding-right: 3px;
		}
		&__price-discount { 
			font-size: 12px;
			padding: 0 0 0 3px;
			&::before { 
				font-size: 12px;
			}
		}
		&__price-count { 
			font-size: small;
			&::before { 
				padding-right: 3px;
				font-size: 12px;
			}
			&-same { 
				font-size: 12px;
				width: 50%;
				padding-left: 3px;
				&::before { 
					font-size: 12px;
				}
			}
		}
		&__title { 
			font-size: small;
			padding-left: 3px;
			padding-right: 3px;
		}
		&__btn {
			font-size: smaller;
			padding: 7px;
		}
	}

	.load-more__btn-back,
	.load-more__btn-forward {
		width: 80%;
		height: 35px;
	}
}