@use '../forward.scss';

.setka { 
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	justify-content: center;
	justify-items: center;
	gap: 30px;
	margin-bottom: 30px;
	background-color: forward.$backColorElem;
  padding: 30px;
  border-radius: 15px;
}

.card { 
	width: 100%;
	min-height: 350px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	position: relative;
	transition: 0.2s;
	background-color: #ffffff;
	user-select: none;
	@media (hover: hover) and (pointer: fine) {
		&:hover { 
			box-shadow: 4px 8px 16px rgba(117, 14, 107, 0.2);
		}
	}
	&__top { 
		flex: 0 0 220px;
		position: relative;
		overflow: hidden;
	}
	&__heart { 
		position: absolute;
		top: 10px;
		right: 10px;
		transition: .3s;
		fill: rgb(118, 118, 118);
		pointer-events: auto;
		cursor: pointer;
		z-index: 100;
		@media (hover: hover) and (pointer: fine) {
			&:hover { 
				fill: rgb(96, 22, 118);
			}
		}
	}
	&__image { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		& > img { 
			width: 100%;
			height: 100%;
			object-fit: contain;
			transition: 0.2s;
			pointer-events: none;
		}
		@media (hover: hover) and (pointer: fine) {
			&:hover > img { 
				transform: scale(1.1);
			}
		}
	}
	&__label {
		position: absolute;
		bottom: 5px;
		left: 10px;
		padding: 2px 4px;
		background-color:  #e50000;
		border-radius: 4px;
		color: white;
		font-weight: 400;
	}
	&__sale {
		position: absolute;
		bottom: 5px;
		right: 10px;
		padding: 2px 4px;
		background-color: #e50000;
		border-radius: 4px;
		color: white;
		font-weight: 400;
	}
	&__bottom {
		flex: 1 0 auto;
	}
	&__prices { 
		display: flex;
		margin-bottom: 8px;
	}
	&__price-discount { 
		font-weight: 700;
		font-size: 1.06em;
		color: #000000;
		display: flex;
		width: 50%;
		flex-wrap: wrap;
		padding-left: 10px;
		padding-right: 3px;
		&-title { 
			width: 100%;
			font-weight: 700;
			font-size: 0.81em;
			color: black;	
		}
	}
	&__price-count { 
		min-width: min-content;
		width: 50%;
		font-weight: 400;
		font-size: 1.06em;
		color: black;
		display: flex;
    justify-content: end;
		flex-wrap: wrap;
		padding-right: 10px;
		&-title { 
			width: 100%;
			font-weight: 400;
			font-size: 0.81em;
			color: black;
			text-align: end;	
		}
		&-same { 
			font-weight: 700;
			font-size: 1.06em;
			color: black;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 10px;
			padding-left: 10px;
			&-title { 
				width: 100%;
				font-weight: 700;
				font-size: 0.81em;
				color: black;
				padding-right: 20px;
			}
		}
	}
	&__title { 
		display: block;
		font-weight: 400;
		font-size: 1.06em;
		line-height: 1.3;
		color: black;
		text-decoration: none;
		padding-inline: 10px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		cursor: pointer;
		@media (hover: hover) and (pointer: fine) {
			&:hover { 
				color: rgb(96, 22, 118);
			}
		}
	}
	&__btn { 
		display: block;
		width: 100%;
		font-weight: 400;
		font-size: 1.06em;
		color: black;
		padding: 10px;
		text-align: center;
		border-radius: 10px;
		cursor: pointer;
		transition: 0.2s;
		position: absolute;
		bottom: 0;
		&_active {
			background-color: forward.$buttonColor;
			border: none;
			@media (hover: hover) and (pointer: fine) {
				&:hover {
					background-color: rgb(96, 22, 118);
					color: #fff;
				}
			}
		}
		&_disabled {
			background-color: rgb(96, 22, 118);
			color: white;
			border: none;
			&:hover {
				background-color: rgb(96, 22, 118);
				color: #fff;
			}
		}
	}
}

.pagination-box {
	display: flex;
	margin-bottom: 20px;
	user-select: none;
}

.pagination-back {
	display: flex;
	width: 100%;
	justify-content: end;
	margin-right: 3%;
}

.pagination-forward {
	display: flex;
	width: 100%;
	justify-content: start;
	margin-left: 3%;
}

@media (max-width: forward.$breakpoint-md) {
	.setka { 
		gap: 20px; 
		margin-bottom: 30px;
		padding: 20px;
	}
}

@media (max-width: forward.$breakpoint-sm) {
	.setka { 
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		row-gap: 10px; 
		column-gap: 5px;
		margin-bottom: 20px;
		padding: 5px;
		border-radius: 10px;
	}
	
	.card { 
		width: 100%;
		min-height: 300px;
		&__top { 
			flex: 0 0 180px;
		}
		&__price-discount { 
			font-size: 0.93em;
		}
		&__price-count { 
			font-size: 0.93em;
			&-same { 
				font-size: 0.93em;
			}
		}
		&__title { 
			font-size: 0.93em;
		}
	}

	.pagination__button-back,
	.pagination__button-forward {
		width: 170px;
		height: 35px;
	}
}

@media (max-width: forward.$breakpoint-xs) {
	.setka { 
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		padding-inline: 2px;
		border-radius: 5px;
	}
	
	.card { 
		width: 100%;
		min-height: 255px;
		&__top { 
			flex: 0 0 150px;
		}
		&__sale {
			right: 3px;
		}
		&__label {
			left: 3px;
		}
		&__price-discount { 
			font-size: 0.81em;
			padding-left: 3px;
			padding-right: 5px;
		}
		&__price-count { 
			font-size: 0.81em;
			padding-right: 3px;
			&-same { 
				font-size: 0.75em;
				width: 50%;
				padding-left: 3px;
			}
		}
		&__title { 
			font-size: 0.81em;
			padding-inline: 3px;
		}
		&__btn {
			font-size: 0.84em;
		}
	}

	.pagination__button-back,
	.pagination__button-forward {
		width: 80%;
	}
}