@use '../forward.scss';															                                                               

.favourites-box {
  text-align: center;
  &__title {
    font-size: 1.75em;
    line-height: 1.3;
    font-weight: 700;
    cursor: default;
  }
  &__table {
    &-header {
      display: grid;
      grid-template-columns: 2fr repeat(2, 3fr) 0.5fr 0.5fr;
      column-gap: 30px;
      background-color: forward.$backColorElem;
      padding: 22px 0;
      font-weight: 700;
      font-size: 0.81em;
      line-height: 1.2;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      border-radius: 19px 19px 0 0;
      &-title {
        grid-column-start: 2;
        cursor: default;
      }
    }
  }
  &__product {
    display: grid;
    grid-template-columns: 2fr repeat(2, 3fr) 0.5fr 0.5fr;
    column-gap: 30px;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 1.3;
    padding: 20px 0;
    border-bottom: 2px solid rgba(126, 155, 189, 0.3);
    &-img {
      justify-self: center;
      width: 90%;
      max-width: 210px;
      user-select: none;
      pointer-events: none;
    }
    &-controls {
      border: none;
      background-color: white;
      user-select: none;
      justify-self: center;
    }
    &-btnBasket {
      border: none;
      background-color: white;
      user-select: none;
      justify-self: center;
    }
  }
}

.favourites-box__product > * {
  align-self: center;
  justify-self: center;
}

.favourites-box__product-count-input {
  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button {
    appearance: none;
  }

  -moz-appearance: textfield;
  appearance: textfield;
}

.favourites-box__product-count-controls img {
  display: block;
}

@media (max-width: forward.$breakpoint-md) {
	.favourites-box__product-img {
    width: 100%;
  }
}   

@media (max-width: forward.$breakpoint-sm) {
	.favourites-box {
    &__title {
      font-size: 1.5em;
      padding-right: 10px;
    }
    &__table {
      &-header {
        height: 1px;
        padding: 0;
        & > * {
          display: none;
        }
      }
    }
    &__product {
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: minmax(60px, auto);
      column-gap: 15px;
      row-gap: 10px;
      &-img {
        grid-column: 1/3;
        width: 80%;
      }
      &-title {
        grid-column: 3/6;
      }
      &-price {
        grid-column: 1/4;
        margin-right: auto;
        padding-left: 15%;
        justify-self: start;
      }
    }
  }
}