@use '../forward.scss';

#footer {
	display: flex;
	margin-top: auto; 
	background-color: forward.$backColorElem;
	width: 100%;
	height: 240px;
	font-family: Segoe UI, -apple-system, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.footer {
	&__logo {
		width: auto;
		display: inline-flex;
		height: 60%;
		pointer-events: none;
		user-select: none;
	}
	&__section {
		display: inline-flex;
		flex-direction: column;
		margin-left: auto;
		@include forward.wh-auto;
		padding-top: 30px;
		&-item { 
			margin-block: 10px;
			display: flex;
			justify-content: center;
			color: #868695;
			text-decoration: none;
			transition: color .3s;
			user-select: none;
			&-style { 
				color: #868695;
				text-decoration: none;
				transition: color .3s;
				width: 80px;
				@media (hover: hover) and (pointer: fine) {
					&:hover { 
						color: rgb(96, 22, 118);
					}
				}
			}
		}
	}
	&__contact {
		display: inline-flex;
		flex-direction: column;
		align-items: start;
		@include forward.wh-auto;
		padding-top: 30px;
		&-item { 
			text-decoration: none;
			margin-block: 10px;
			display: flex;
			color: #868695;
			&-hover {
				@media (hover: hover) and (pointer: fine) {
					&:hover { 
						transition: .2s;
						color: rgb(96, 22, 118);
					}
				}
			}
		}
	}
	&__title {
		font-size: 1em;
		margin-bottom: 15px;
		font-weight: 800;
		display: flex;
		color: rgb(0, 0, 0);
		cursor: default;
		&-section {
			padding-left: 40px;
		}
	}
	&__link {
		display: flex;
		justify-content: end;
		gap: 8px;
		width: auto;
		align-items: end;
		margin-bottom: 20px;
		&-item { 
			background-color: #fff;
			border-radius: 9px;
			&-vk {
				@include forward.flex-center;
				height: 34px;
				width: 34px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 11px 7px 11px 7px;
					@media (hover: hover) and (pointer: fine) {
						&:hover {
							fill: #07f;
						}
					}
				}
			}
			&-tg {
				@include forward.flex-center;
				height: 34px;
				width: 34px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 9px 7px 9px 7px;
					@media (hover: hover) and (pointer: fine) {
						&:hover {
							fill: #3490ec;
						}
					}
				}
			}
			&-ok {
				@include forward.flex-center;
				height: 34px;
				width: 34px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 8px 11px 8px 11px;
					@media (hover: hover) and (pointer: fine) {
						&:hover {
							fill: #ff7701;
						}
					}
				}
			}
			&-youtube {
				@include forward.flex-center;
				height: 34px;
				width: 34px;
				transition: background-color .3s;
				&-svg {
					fill: #868695;
					transition: .3s;
					padding: 10px 7px 10px 7px;
					@media (hover: hover) and (pointer: fine) {
						&:hover {
							fill: red;
						}
					}
				}
			}
		}
	}
} 

.copyright { 
	@include forward.flex-end;
	margin: 0 10px 5px 40px;
	color: #868695;
	width: auto;
}

																	//АДАПТАЦИЯ 768px


@media (max-width: 1000px) and (min-width: 768px) {	
	#footer {
		margin: auto 0 60px;
	}

	.footer {
		&__logo {
			display: none;
		}
		&__section {
			display: inline-flex;
		}
		&__contact {
			display: inline-flex;
			padding-top: 30px;
		}
		&__link {
			margin-left: 10px;
		}
	}
}

																	//АДАПТАЦИЯ 425px


@media (max-width: 768px) and (min-width: 425px) {
	#footer {
		justify-content: space-between;
		flex-wrap: wrap;
		margin: auto 0 60px;
		height: 330px;
		min-height: 240px;
	}

	.footer {
		&__logo {
			display: none;
		}
		&__section {
			margin-right: 10px;
		}
		&__contact {
			margin-left: auto;
			margin-right: 10px;
		}
		&__link {
			margin: 0 10px 60px;
			&-item { 
				background-color: #fff;
				border-radius: 9px;
			}
		}
	}
	
	.copyright { 
		display: flex;
    	align-items: end;
		margin: 17px 10px 60px auto;
	}
}

																	//АДАПТАЦИЯ < 425px


@media (max-width: 425px) {
	#footer {
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 60px;
		height: 310px;
	}

	.footer {
		&__logo {
			display: none;
		}
		&__section {
			font-size: 0.81em;
		}
		&__contact {
			margin-left: auto;
			margin: 0 10px 0 0;
			font-size: 0.81em;
		}
		&__title  {
			font-size: 0.81em;
		}
		&__link {
			margin: 0 10px 60px;
			&-item { 
				&-vk {
					height: 30px;
					width: 30px;
					&-svg {
						padding: 9px 5px 9px 5px;
					}
				}
				&-tg {
					height: 30px;
					width: 30px;
					&-svg {
						padding: 7px 5px 7px 5px;
					}
				}
				&-ok {
					height: 30px;
					width: 30px;
					&-svg {
						padding: 6px 9px 6px 9px;
					}
				}
				&-youtube {
					height: 30px;
					width: 30px;
					&-svg {
						padding: 8px 5px 8px 5px;
					}
				}
			}
		}
	}
	
	.copyright { 
		display: flex;
    	align-items: end;
		margin: 15px 10px 60px auto;
		font-size: 0.81em;
	}
}