@use '../forward.scss';													
																	
header { 
	display: flex;
	justify-content: space-between;
    color: rgb(255, 255, 255);
	background-color: rgb(48 0 80);
	width: 100%;
	height: 72px;
	User-select: none;
	position: fixed;
	top: 0;
	z-index: 7;
	font-family: Segoe UI, -apple-system, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
	
.logo__header { 
	width: auto;
	display: inline-flex;
	pointer-events: none;
	fill: #ffffff;
	height: 72px;
	&-color {
		fill: white;
	}
}
	
.nav { 
    display: flex;
	align-items: center;
	&__img {
		width: 20px;
	}
}
	
#nav__button { 
    display: flex;
	align-items: center;
	background-color: transparent;
	width: 35px;
	height: 35px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, .4);
	justify-content: center;
	transition: border-width .3s;
	transition: border-color .3s;
	cursor: pointer;
    &:hover {
        border-width: 2px;
        border-color: white;
    }
}
	
.navbar { 
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	color: black;
	width: 25vw;
	height: calc(100vh - 88px);
	z-index: 5;
	position: absolute;
	top: 72px;
	transition: .2s;
	padding: 8px 0;
	margin-bottom: 100px;
	overflow-y: scroll;
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 5vh;
		width: 95%;
		cursor: pointer;
		&_active {
			background-color: forward.$btnColor;
			border-radius: 10px;
			color: #9814ad;
			transition: background-color .1s;
		}
		&:hover {
			background-color: forward.$btnColor;
			border-radius: 10px;
			color: #9814ad;
			transition: background-color .1s;
		}
	}
	&::-webkit-scrollbar { 
		width: 7px;
		&-thumb { 
			background: rgba(96, 22, 118, 0.25); 
			&:hover { 
				background: rgba(96, 22, 118, 0.5);
			}
			&:active { 
				background: rgb(96, 22, 118);
			}
		}
		&-track { 
			background-color: #c5c5c5ac;
		}
	}
}
	
.search { 
	display: inline-flex;
	align-items: center;
	width: 100%;
	margin-left: 10px;
    &__line { 
        width: 85%;
        display: inline-flex;
        background-color: #d8c4e0;
        border-radius: 10px;
    }
}
	
#search__line-line { 
	border-radius: 10px;
	width: 93%;
	height: 36px;
	color: #000000;
	padding-left: 13px;
	font-size: 16px;
	outline: none;
	border: 3px solid #d8c4e0;
	&:-webkit-autofill {
		box-shadow: 0 0 0 1000px white inset !important;
  		-webkit-text-fill-color: #000;
	}
}
	
#search__line-button { 
	border-radius: 10px;
	width: 7%;
	height: 30px;
	margin-top: 3px;
	margin-right: 3px;
	min-width: 69px;
	background-color: #d8c4e0;
	padding-left: 13px;
	font-size: 16px;
	outline: none;
	padding-right: 15px;
	border: none;
	cursor: pointer;
	transition: background-color .3s;
	&-img {
		width: 20px;
		pointer-events: none;
	}
    &:hover {
        background-color: #b193bd;
    }
}
	
#search__line-clear {
	margin: 3px;
	border: none;
	cursor: pointer;
	background: none;
	border-radius: 10px;
	transition: background-color .3s;
	&:hover {
		background-color: #b193bd;
	}
}
	
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.196) !important; }
input:-moz-placeholder { /* Firefox 18- */ color: rgba(0, 0, 0, 0.196) !important; }
input::-moz-placeholder { /* Firefox 19+ */ color: rgba(0, 0, 0, 0.196) !important; }
input:-ms-input-placeholder { color: rgba(0, 0, 0, 0.196) !important; }
	
.menu { 
	margin: 0 5px;
	display: inline-flex;
	width: 350px;
    &__item { 
        margin: auto;
        display: inline-block;
        &-style {
			display: flex;
			justify-content: center;
            color: Silver;
            text-decoration: none;
            padding: 22px 5px 0;
            width: auto;
            transition: color .3s;
            &:hover { 
                color: white;
            }
        }
    }
}

.menu-mobile {
	display: none;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: #ffffff;
	bottom: 0;
	position: fixed;
	z-index: 7;
	&__item {
		@include forward.flex-center;
		pointer-events: none;
		width: 40px;
		height: 40px;
		&_active {
			display: block;
			fill: rgb(96, 22, 118);
			text-decoration: none;
		}
		&_passiv {
			display: block;
			fill: #a8a8a8;
			text-decoration: none;
		}
	}
}
	
.header-profile {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 75px;
	width: 190px;
	background-color: rgb(236, 220, 233);
    border-radius: 15px;
    height: 102px;
    z-index: 5;
	cursor: default;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		background: transparent;
		pointer-events: auto;
		top: -25px;
		left: 0;
		height: 25px;
	}
	&__title {
		box-sizing: border-box;
		min-height: 30px;
		overflow: hidden;
		text-overflow: ellipsis;
		box-sizing: border-box;
		white-space: nowrap;
		color: black;
		max-width: 190px;
		padding: 0 16px;
	}
}
	
.pc-none {
	display: none;
}
	
.none {
	display: none;
}
	
.line {
	text-decoration: underline rgb(186, 155, 194);
	text-decoration-thickness: 5px;
	line-height: 10px;
	text-underline-offset: 13.4px;
    &-text { 
        color: white;
    }
}
	
.circle { 
	border-radius: 50%;
	min-width: 17px;
    height: 17px;
	text-align: center;
	color: #fff;
	background: #e50000;
	font: 10px Arial, sans-serif;
	display: inline-block;
	position: fixed;
	top: 30px;
    right: 2px;
	letter-spacing: normal;
	line-height: 18px;
	font-weight: 500;
	z-index: 3;
	&__mobile {
		border-radius: 50%;
		width: 17px;
		height: 17px;
		text-align: center;
		color: #fff;
		background: #e50000;
		font: 10px Arial, sans-serif;
		position: relative;
		bottom: -15px;
		right: -25px;
		letter-spacing: normal;
		line-height: 18px;
		font-weight: 500;
		display: none;
		z-index: 5;
	}
}
	
#theme-toggle { 
	width: 20px;
	height: 20px;
	position: fixed;
	right: 10px;
	top: 5px;
	z-index: 2;
	border: none;
	background-color: forward.$btnColor;
	border-radius: 50%;
	cursor: pointer;
	transition: .4s linear;
	&:hover {
		background-color: rgb(186 155 194);
	}
}
	
.theme-toggle { 
	width: 16px;
	position: fixed;
	right: 12px;
	top: 7px;
}
	
.tippy-box[data-theme~='lilac'] { 
	background-color: rgb(140, 43, 185);
	color: white;
}
	
.tippy-box[data-theme~='lilac'][data-placement^='left'] > .tippy-arrow::before {
	border-left-color: rgb(140, 43, 185);
}

																	//АДАПТАЦИЯ 768px

@media (max-width: 1000px) and (min-width: 769px) {
	.navbar { 
		width: 35vw;
		height: calc(100vh - 148px);
	}

	.search { 
		padding-right: 40px;
		width: 90vw;
		margin: 0 10px;
		&__line { 
			width: 100%;
		}
	}

	.menu { 
		display: none;
	}

	.pc-none {
		display: block;
	}

	.menu-mobile {
		display: flex;
		&__item {
			&_active {
				display: block;
			}
			&_passiv {
				display: block;
			}
		}
	}
	
	.circle { 
		display: none;
		&__mobile {
			display: block;
		}
	}
}


																	//АДАПТАЦИЯ 425px

@media (max-width: 768px) and (min-width: 425px) {	
	.logo__header { 
		display: none;
	}
	
	.nav { 
		margin-left: 10px;
	}

	.navbar { 
		width: 60vw;
		height: calc(100vh - 148px);
	}
	
	.search { 
		padding-right: 40px;
		width: 90vw;
		margin: 0 10px;
		&__line { 
			width: 100%;
		}
	}

	.menu { 
		display: none;
	}

	.pc-none {
		display: block;
	}

	.menu-mobile {
		display: flex;
		&__item {
			&_active {
				display: block;
			}
			&_passiv {
				display: block;
			}
		}
	}
	
	.circle { 
		display: none;
		&__mobile {
			display: block;
		}
	}
}

																	//АДАПТАЦИЯ < 425px
@media (max-width: 425px) {
	.logo__header { 
		display: none;
	}
	
	.nav { 
		margin-left: 10px;
	}

	.navbar { 
		width: 100vw;
		height: calc(100vh - 148px);
	}
	
	.search { 
		width: 90vw;
		margin: 0 10px;
		padding-right: 40px;
		&__line { 
			width: 100%;
		}
	}

	.pc-none {
		display: block;
	}

	.menu { 
		display: none;
	}

	.menu-mobile {
		display: flex;
		&__item {
			&_active {
				display: block;
			}
			&_passiv {
				display: block;
			}
		}
	}
	
	.circle { 
		display: none;
		&__mobile {
			display: block;
		}
	}
}

