@use '../forward.scss';

.profile-menu {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 75px;
	width: 190px;
	background-color: rgb(236, 220, 233);
    border-radius: 15px;
    height: 102px;
    z-index: 5;
	cursor: default;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		background: transparent;
		pointer-events: auto;
		top: -18px;
		left: 0;
		height: 25px;
	}
	&__title {
		box-sizing: border-box;
		min-height: 30px;
		overflow: hidden;
		text-overflow: ellipsis;
		box-sizing: border-box;
		white-space: nowrap;
		color: black;
		max-width: 190px;
		padding: 0 16px;
		margin-bottom: 16px;
	}
}

.form {
    display: flex;
    justify-content: space-around;
    &__registration { 
        display: flex;
        width: 40vw;
        align-items: center;
        flex-direction: column;
        background-color: forward.$backColorElem;
        border-radius: 19px;
        padding-bottom: 16px;
        &-item {
            box-sizing: border-box;
            border: 1px solid black;
            outline: none;
            width: 300px;
            height: 30px;
            font-size: 1em;
            border-radius: 5px;
            margin-top: 5px;
            &:focus {
                background-color: #ffffff8f;
            }
	        &:-webkit-autofill {
	        	box-shadow: 0 0 0 1000px white inset !important;
  	        	-webkit-text-fill-color: #000;
	        }
        }
        &-btn {
            background-color: #d8c4e0;
            border: none;
            border-radius: 5px;
            width: 150px;
            height: 40px;
            cursor: pointer;
            &:hover {
                background-color: rgb(186, 155, 194);
                transition: .3s;
            }
        }
    }
    &__header {
        text-transform: uppercase;
        font-size: 1.56em;
        user-select: none;
    }
    &-font {
        @include forward.fonts-montserrat-medium;
    }
    &-margin-top {
        margin-top: -10px;
    }
}

.form.no-wrap {
    flex-wrap: nowrap;
    height: auto;
}

.container-profile {
    display: flex;
    container: container-profile / inline-size;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}

.profile-aside {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    background-color: forward.$backColorElem;
    border-radius: 10px;
    padding: 10px;
    margin-right: 30px;
    &__name {
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.125em;
        font-weight: 600;
    }
    &__sum {
        margin-bottom: 16px;
        font-size: 1.125em;
        font-weight: 600;
    }
    &__sum + .button-violet {
        margin-bottom: 16px;
    }
}

@container container-profile (max-width: 830px) {
    .profile-fav { 
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: forward.$backColorElem;
        border-radius: 10px;
        padding: 10px;
        &__block {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &-title {
                color: black;
                font-weight: 600;
                font-size: 1.125em;
                cursor: pointer;
                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        color: rgb(96, 22, 118);
                    }
                }
            }
            &-count {
                font-weight: 400;
                font-size: 1.06em;
            }
            &-svg {
                display: flex;
                align-items: center;
            }
        }
    }
    .profile-basket {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: forward.$backColorElem;
        border-radius: 10px;
        padding: 10px;
        &__block {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &-title {
                color: black;
                font-weight: 600;
                font-size: 1.125em;
                cursor: pointer;
                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        color: rgb(96, 22, 118);
                    }
                }
            }
            &-count {
                font-weight: 400;
                font-size: 1.06em;
            }
            &-svg {
                display: flex;
                align-items: center;
            }
        }
    }
}

@container container-profile (min-width: 830px) {
    .profile-fav { 
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: calc(50cqw - 30px/2);
        height: 88.6px;
        background-color: forward.$backColorElem;
        border-radius: 10px;
        padding: 10px;
        &__block {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &-title {
                color: black;
                font-weight: 600;
                font-size: 1.125em;
                cursor: pointer;
                &:hover {
                    color: rgb(96, 22, 118);
                }
            }
            &-count {
                font-weight: 400;
                font-size: 1.06em;
            }
            &-svg {
                display: flex;
                align-items: center;
            }
        }
    }
    .profile-basket {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: calc(50cqw - 30px/2);
        height: 88.6px;
        background-color: forward.$backColorElem;
        border-radius: 10px;
        padding: 10px;
        &__block {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &-title {
                color: black;
                font-weight: 600;
                font-size: 1.125em;
                cursor: pointer;
                &:hover {
                    color: rgb(96, 22, 118);
                }
            }
            &-count {
                font-weight: 400;
                font-size: 1.06em;
            }
            &-svg {
                display: flex;
                align-items: center;
            }
        }
    }
}

																	//АДАПТАЦИЯ 768px

@media (max-width: 1000px) and (min-width: 769px) {
    .form {
        width: 95vw;
        margin: 0 auto;
        &__registration { 
            width: 43vw;
            &-item {
                width: 280px;
            }
        }
    }

    .form.no-wrap {
        margin-bottom: 0;
    }
}

																	//АДАПТАЦИЯ 425px

@media (max-width: 768px) and (min-width: 425px) {
    .form {
        margin: 0 auto;
        flex-wrap: wrap;
        width: 95vw;
        &__registration { 
            width: 90vw;
            &:last-child {
                margin-top: 15px;
            }
            &-item {
                width: 60vw;
            }
        }
    }

    .form.no-wrap {
        margin-bottom: 0;
    }

    .container-profile {
        gap: 10px;
        height: auto;
    }

    .profile-aside {
        min-width: auto;
        height: auto;
        padding: 10px;
        margin-right: 10px;
        &__name {
            max-width: 150px;
        }
    }
}

																	//АДАПТАЦИЯ < 425px

@media (max-width: 425px){
    .form {
        margin: 0 auto;
        flex-wrap: wrap;
        width: 95vw;
        &__registration { 
            width: 90vw;
            &:last-child {
                margin-top: 10px;
            }
            &-item {
                width: 60vw;
            }
        }
    }

    .form.no-wrap {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .container-profile {
        gap: 10px;
        height: auto;
    }

    .profile-aside {
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 0 0 10px 0;
        &__name {
            max-width: 370px;
            white-space: nowrap;
        }
    }

    @container container-profile (max-width: 830px) {
        .profile-fav { 
            height: 91px;
        }
        .profile-basket {
            height: 91px;
        }
    }
}



















