@use '../forward.scss';

.button-grey {
  margin: 16px 0;
	width: 150px;
	height: 40px;
  font-weight: 700;
	border-radius: 5px;
	background-color: #c8c8c8;
	border: none;
	transition: .2s;
	cursor: pointer;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #9c9c9c;
    }
  }
}

.button-violet {
  background-color: #d8c4e0;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
	white-space: nowrap;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: rgb(186, 155, 194);
    }
  }
}

.button-cross {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.8);
  width: 36px;
  height: 36px;
  padding: 0;
  transition: .2s;
  &-svg {
    display: flex;
    user-select: none;
    width: 20px;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: red;
    }
  }
}

.to-main-button {
  background-color: #d8c4e0;
  height: 30px;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: rgb(186, 155, 194);
      transition: .3s;
    }
  }
}

.scroll-to-top-button {
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	color: white;
	cursor: pointer;
	height: 45px;
	width: 45px;
	position: fixed;
	bottom: 25px;
  left: 20px;
  border-radius: 50%;
	transition: 0.5s;
	display: none;
	z-index: 300;
  @media (max-width: forward.$breakpoint-md) {
		bottom: 85px;
		left: 15px;
  }
  @media (max-width: forward.$breakpoint-sm) {
		bottom: 70px;
  }
  @media (max-width: forward.$breakpoint-xs) {
		left: 10px;
  }
  @media (hover: hover) and (pointer: fine) {
	  &:hover {
	  	background-color: black;
	  }
  }
}

.chat-button {
	background-color: #9814ad;
	border: none;
	color: white;
	cursor: pointer;
	height: 45px;
	width: 45px;
	position: fixed;
	bottom: 25px;
  right: 20px;
	z-index: 100;
  border-radius: 50%;
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
	transition: 0.5s;
  @media (max-width: forward.$breakpoint-md) {
		bottom: 85px;
		right: 15px;
  }
  @media (max-width: forward.$breakpoint-sm) {
		bottom: 70px;
  }
  @media (max-width: forward.$breakpoint-xs) {
		right: 10px;
  }
  @media (hover: hover) and (pointer: fine) {
	  &:hover {
	  	background-color: #b200ce;
	  }
  }
}

.chat-button-svg {
	position: fixed;
	right: 30.335px;
  bottom: 34.29px;
  @media (max-width: forward.$breakpoint-md) {
		right: 25.335px;
    bottom: 94.29px;
  }
  @media (max-width: forward.$breakpoint-sm) {
    bottom: 79.29px;
  }
  @media (max-width: forward.$breakpoint-xs) {
		right: 20.335px;
  }
}

.chat-svg {
	@include forward.fill-clip-rule (evenodd, evenodd);
}

.button-support-message {
	background-color: #9814ad;
	border: none;
	color: white;
	cursor: pointer;
	height: 44px;
	width: 44px;
  aspect-ratio: 1;
	border-radius: 50%;
	transition: 0.5s;
  @include forward.flex-center;
	z-index: 100;
  @media (hover: hover) and (pointer: fine) {
	  &:hover {
	    background-color: #b200ce;
	  }
  }
}

.pagination__button-back {
	width: 200px;
	height: 40px;
	border-radius: 10px;
	font-weight: 400;
	font-size: 1.06em;
	border: none;
	transition: .2s;
	&_active {
		background-color: #c8c8c8;
		cursor: pointer;
		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background-color: #9c9c9c;
			}
		}
	}
	&_disabled {
		background-color: #ececec;
		color: #00000063;
		cursor: default;
		&:hover {
			background-color: #ececec;
		}
	}
  @media (max-width: forward.$breakpoint-sm) {
		width: 170px;
		height: 35px;
  }
  @media (max-width: forward.$breakpoint-xs) {
		width: 80%;
  }
}

.pagination__button-forward {
	width: 200px;
	height: 40px;
	border-radius: 10px;
	font-weight: 400;
	font-size: 1.06em;
	border: none;
	transition: .2s;
	&_active {
		background-color: #c8c8c8;		
		cursor: pointer;
		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background-color: #9c9c9c;
			}
		}
	}
	&_disabled {
		background-color: #ececec;
		color: #00000063;
		cursor: default;
		&:hover {
			background-color: #ececec;
		}
	}
  @media (max-width: forward.$breakpoint-sm) {
		width: 170px;
		height: 35px;
  }
  @media (max-width: forward.$breakpoint-xs) {
		width: 80%;
  }
}

.confirm-delete-button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  border: 1px solid #ea3025;
  background-color: #ea3025;
  color: white;
  font-size: 0.875em;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: .2s;
	@media (hover: hover) and (pointer: fine) {
    &:hover {
      border: 1px solid #ea2f25e2;
      background-color: #ea2f25e2;
    }
	}
}

.confirm-cancel-button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  background-color: white;
  border: 1px solid black;
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: .2s;
	@media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: forward.$backColorElem;
    }
	}
}