@use '@/shared/styles/abstracts' as *;														

.filter-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--filter-menu-bg);
  z-index: 600;
  position: fixed;
  top: 72px;
  right: 0;
  width: clamp(384px, 25vw, 500px);
  height: calc(100dvh - 72px);
  overflow-x: hidden;
  transition: .2s;
  overflow-y: auto;
  direction: rtl;
  & > * {
    direction: ltr;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 1.25em;
    width: 100%;
    background-color: var(--filter-menu-title-bg);
    color: var(--filter-menu-title-text);
    padding: 10px;
  }
	&::-webkit-scrollbar { 
		width: 7px;
		&-thumb { 
			background: rgb(96 22 118 / 0.25); 
			&:hover { 
				background: rgb(96 22 118 / 0.5);
			}
			&:active { 
				background: rgb(96, 22, 118);
			}
		}
		&-track { 
			background-color: #c5c5c5ac;
		}
	}
}

.accordion {
  &__header {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: var(--accordion-header-bg);
    color: var(--accordion-header-text);
    border: none;
    border-bottom: 2px solid rgb(126 155 189 / 30%);
    cursor: pointer;
    user-select: none;
    transition: .1s;
    font-size: 1em;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--accordion-header-hover-bg);
        color: var(--accordion-header-hover-text);
      }
    }
  }
  &__content {
    box-sizing: border-box;
    border-bottom: 2px solid var(--accordion-content-border);
    background-color: white;
  }
  &__item {
    user-select: none;
    display: flex;
    width: 100%;
    padding: 10px 5px;
    cursor: pointer;
    transition: .1s;
    color: var(--accordion-item-text);
    background-color: var(--accordion-item-bg);
    &-margin {
      margin-bottom: 3px;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--accordion-item-hover-bg);
        color: var(--accordion-item-hover-text);
      }
    }
  }
  &__price {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    background-color: var(--accordion-price-bg);
  }
  &__input-block {
    margin: 0 20px;
    height: 30px;
    width: 80px;
    border-radius: 6px;
    background-color: var(--accordion-input-bg);
  }
  &__input {
    color: var(--accordion-input-text);
    width: 100%;
    border: none;
    outline: none;
    user-select: none;
    background-color: transparent;
    padding: 4px 5px;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.3;
  }
  &__btn {
    margin-top: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: $breakpoint-md) {
  .filter-menu {
    width: 45vw;
    height: calc(100dvh - 132px);
  }
}

@media (max-width: $breakpoint-sm) {
  .filter-menu {
    width: 62vw;
    width: max(50vw, 347px);
  }
}

@media (max-width: $breakpoint-xs) {
  .filter-menu { width: 100vw; }
}