.centered-heading {
  text-align: center;
  font-size: 2em;
}

.text-decoration-none {
  text-decoration: none;
}

.text-nowrap {
  text-wrap: nowrap;
}

.link-null {
  text-decoration: none;
  color: inherit;
}

.user-select-none {
  user-select: none;
}

.text-red {
  color: red;
}