@use '@/shared/styles/abstracts' as *;

.delivery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--delivery-bg);
  color: var(--delivery-text);
  border-radius: 19px;
  &__label {
    margin: 0 0 23.24px;
    display: flex;
    justify-content: center;
    font-size: 1.875em;
    cursor: default;
  }
  &__order {
    display: flex; 
    gap: 20px;
    background-color: var(--basket-order-bg);
    margin: 25px;
    border-radius: 19px;
    flex-direction: column;
    padding-block: 50px;
    padding-left: 50px;
    width: 40%;
    &-count {
      text-transform: uppercase;
      font-size: 1.25em;
    }
    &-price-total {
      text-transform: uppercase;
      font-size: 1.25em;
    }
    &-btn {
      margin: 0;
    }
    &-checkbox {
      color: grey;
      user-select: none; 
    }
    &-rules {
      text-decoration: none;
      cursor: pointer;
      color: var(--basket-rules-text);
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: blue;
        }
      }
    }
  }
  &__city {
    display: flex;
    background-color: var(--basket-city-bg);
    margin: 25px;
    border-radius: 19px;
    gap: 20px;
    width: 40%;
    flex-direction: column;
    padding-block: 50px;
    padding-left: 50px;
    &-text {
      text-transform: uppercase;
      font-size: 1.25em;
    }
    &-select {
      background-color: var(--basket-select-bg);
      color: --basket-select-text;
      outline: none;
      border: none;
      border-radius: 6px;
      height: 30px;
      width: 70%;
      max-width: 390px;
      & > * {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .delivery {
    &__order {
      padding-left: 30px;
      &-checkbox {
        font-size: 0.81em;
      }
    }
    &__city {
      padding-left: 30px;
    }
  }
}  

@media (max-width: $breakpoint-sm) {
  .delivery {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &__order {
      margin-block: 25px;
      padding-block: 25px;
      padding-left: 15px;
      width: 80%;
    }
    &__city {
      margin-top: 0;
      margin-bottom: 25px;
      width: 80%;
      padding-block: 25px;
      padding-left: 15px;
    }
  }
}

@media (max-width: $breakpoint-xs) {
  .delivery {
    &__order-checkbox {
      font-size: 0.75em;
    }
    &__city {
      margin: 25px;
      margin-top: 0;
    }
  }
}