@use '@/shared/styles/abstracts' as *;

.delivery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--delivery-bg);
  color: var(--delivery-text);
  border-radius: 19px;
  &__label {
    margin: 0 0 23.24px;
    display: flex;
    justify-content: center;
    font-size: 1.875em;
    cursor: default;
  }
  &__order {
    display: flex; 
    gap: 20px;
    background-color: var(--basket-order-bg);
    margin: 25px;
    border-radius: 19px;
    flex-direction: column;
    padding: 30px;
    width: 40%;
    &-title {
      text-transform: uppercase;
      font-size: 1.15em;
    }
    &-btn {
      margin: 0;
    }
    &-checkbox {
      color: grey;
      user-select: none; 
    }
    &-rules {
      text-decoration: none;
      cursor: pointer;
      color: var(--basket-rules-text);
      transition: .2s;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: blue;
        }
      }
    }
  }
  &__method {
    display: flex;
    background-color: var(--basket-method-delivery-bg);
    margin: 25px;
    border-radius: 19px;
    gap: 20px;
    width: 40%;
    flex-direction: column;
    padding: 30px;
    &-title {
      text-transform: uppercase;
    }
    &-select {
      background-color: var(--basket-select-bg);
      color: var(--basket-select-text);
      border: none;
      border-radius: 6px;
      height: 44px;
      font-size: 1em;
      & > * {
        cursor: pointer;
      }
    }
    &-textarea {
      padding: 5px 0 0 7px;
      border: none;
      outline: none;
      border-radius: 8px;
      resize: none;
      overflow: hidden;
      height: 44px;
      width: 100%;
      margin-right: 10px;
      box-sizing: border-box;
      font-size: 1.06em;
      background-color: var(--delivery-bg-textarea);
      color: var(--delivery-text-textarea);
    }
  }
}

@media (max-width: $breakpoint-md) {
  .delivery__order-checkbox { font-size: 0.81em; }
}  

@media (max-width: $breakpoint-sm) {
  .delivery {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &__order {
      margin-block: 25px;
      padding: 15px;
      width: 80%;
    }
    &__method {
      margin-top: 0;
      margin-bottom: 25px;
      width: 80%;
      padding: 15px;
      &-title {
        text-align: center;
      }
    }
  }
}

@media (max-width: $breakpoint-xs) {
  .delivery {
    &__order-checkbox {
      font-size: 0.75em;
    }
    &__method {
      margin: 25px;
      margin-top: 0;
    }
  }
}