@use '@/shared/styles/abstracts' as *;

.footer {
	display: grid;
	grid-template-columns: 1fr repeat(4, auto);
	margin-top: auto; 
	background-color: var(--back-color-elem);
	height: 240px;
	font-family: $fontSegoe;
} 

@media (max-width: $breakpoint-md) {	
	.footer {
		margin-bottom: 60px;
		grid-template-columns: repeat(4, auto);
	}
}

@media (max-width: $breakpoint-sm) {
	.footer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		height: 330px;
		ul, h2 {
			padding-left: 10px;
		}
	}
}

@media (max-width: $breakpoint-xs) {
	.footer {
		grid-template-columns: repeat(2, 1fr);
		height: 310px;
	}
}