@use '@/shared/styles/abstracts' as *;

.search-wrapper {
  display: flex;
  flex-grow: 1;
}

.users-params {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  &__filters {
    font-size: 1em;
    padding: 8px; 
    width: 200px;
    border: 2px $buttonColor solid;
    border-radius: 10px;
    background-color: var(--bg-body);
    color: var(--text-body);
    outline: none;
    cursor: pointer;
    &:focus-visible {
      border: 2px solid #007bff;
    }
  }
}