@use '../abstracts' as *;

.main {
  min-height: calc(100dvh - 330px);
	margin: 90px 30px 0;
  @media (max-width: $breakpoint-md) {
    margin-inline: 15px;
  }
  @media (max-width: $breakpoint-sm) {
    margin-inline: 5px;
    min-height: calc(100dvh - 420px);
  }
  @media (max-width: $breakpoint-xs) {
    min-height: calc(100dvh - 400px);
  }
}
