@use '../forward.scss';																	

html {
  font-size: 16px;
  body {
    background-color: white;
	  font-family: forward.$fontSegoe;
  }
	&::-webkit-scrollbar {
		width: 10px;
		&-thumb { 
			background: rgba(96, 22, 118, 0.25); 
			border-radius: 8px;
			&:hover { 
				background: rgba(96, 22, 118, 0.5);
			}
			&:active { 
				background: rgb(96, 22, 118);
			}
		}
		&-track { 
			background-color: #c5c5c5ac;
		}
		&-button:start { 
			background:  rgb(173, 173, 173) url(/images/icons/arrow_top.png) no-repeat center;
			background-size: contain;
		}
		&-button:end {
			background:  rgb(173, 173, 173) url(/images/icons/arrow_bottom.png) no-repeat center;
			background-size: contain;
		}
	}
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.6) !important; }
input:-moz-placeholder { color: rgba(0, 0, 0, 0.6) !important; }
input::-moz-placeholder { color: rgba(0, 0, 0, 0.6) !important; }
input:-ms-input-placeholder { color: rgba(0, 0, 0, 0.6) !important; }

button, input, textarea, select {
  font-family: Arial, sans-serif;
  font-size: 0.83em;
}

button {
  user-select: none;
}
	
::selection { 
  background: #350047;
  color: rgb(255, 255, 255);
}

body.modal-open {
  overflow: hidden;
}

#main {
	margin: 90px 30px 0px;
  @media (max-width: forward.$breakpoint-md) {
    margin-inline: 15px;
  }
  @media (max-width: forward.$breakpoint-sm) {
    margin-inline: 5px;
  }
}

.blackout {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 72px;
	background-color: #0000008f;
	z-index: 400;
	transition: .3s;
}

.modal-window {
  display: block;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  line-height: 1.5;
	@media (max-width: forward.$breakpoint-xs) {
		width: 250px;
	}
  &__title {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: forward.$backColorElem;
    padding: 20px;
    margin: 0;
    position: relative;
    left: -20px;
    top: -23px;
    border-radius: 8px 8px 0 0;
    font-size: 1.25em;
    user-select: none;
  }
  &__description {
    text-align: center;
    margin-top: 0;
	@media (max-width: forward.$breakpoint-xs) {
		font-size: 0.84em;
	}
  }
  &__footer {
    display: flex;
    width: 100%;
    gap: 15px;
    user-select: none;
  }
}








