@use '../forward.scss';																	

html {
    font-size: 16px;
    body {
        background-color: #ffffff;
		font-family: Segoe UI, -apple-system, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    }
	&::-webkit-scrollbar {
		width: 10px;
		&-thumb { 
			background: rgba(96, 22, 118, 0.25); 
			border-radius: 8px;
			&:hover { 
				background: rgba(96, 22, 118, 0.5);
			}
			&:active { 
				background: rgb(96, 22, 118);
			}
		}
		&-track { 
			background-color: #c5c5c5ac;
		}
		&-button:start { 
			background:  rgb(173, 173, 173) url(/images/icons/arrow_top.png) no-repeat center;
			background-size: contain;
		}
		&-button:end {
			background:  rgb(173, 173, 173) url(/images/icons/arrow_bottom.png) no-repeat center;
			background-size: contain;
		}
	}
}

button, input, textarea, select {
  font-family: Arial, sans-serif;
  font-size: 0.83em;
}

button {
    user-select: none;
}
	
::selection { 
    background: #350047;
    color: rgb(255, 255, 255);
}

body.modal-open {
    overflow: hidden;
}

#main {
	min-height: 100vh; 
	margin: 90px 30px 0px;
    @media (max-width: 1000px) {
        margin-top: 90px;
    }
}

.blackout {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 72px;
	background-color: #0000008f;
	z-index: 4;
	transition: .3s;
}

.modal-window {
    display: block;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    line-height: 1.5;
	@media (max-width: 425px) {
		width: 250px;
	}
    &__title {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: forward.$backColorElem;
        padding: 20px;
        margin: 0;
        position: relative;
        left: -20px;
        top: -23px;
        border-radius: 8px 8px 0 0;
        font-size: 1.25em;
        user-select: none;
    }
    &__description {
        text-align: center;
        margin-top: 0;
		@media (max-width: 425px) {
			font-size: 0.84em;
		}
    }
    &__footer {
        display: flex;
        width: 100%;
        gap: 15px;
        user-select: none;
    }
}








