@use '../forward.scss';

.centered-heading {
  text-align: center;
  font-size: 2em;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.margin-null {
  margin: 0;
}

.link-null {
  text-decoration: none;
  color: inherit;
}

.clip-rule-evenodd {
  clip-rule: evenodd;
}

.fill-clip-rule {
	@include forward.fill-clip-rule (evenodd, evenodd);
}

.fill-red {
  fill: red;
}

.text-decoration-none {
  text-decoration: none;
}

.white-fill-clip {
  fill: white;
  @include forward.fill-clip-rule (evenodd, evenodd);
}

.svg-btn-fill-none {
  fill: none;
  width: 24px;
  height: 24px;
}

.user-select-none {
  user-select: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.button-reset {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-checkbox {
  margin-right: 5px;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.text-nowrap {
  text-wrap: nowrap;
}
