@use '@/shared/styles/abstracts' as *;

.contact {
  display: inline-flex;
	flex-direction: column;
	padding-top: 30px;
  &__item {
		text-decoration: none;
		margin-block: 10px;
		display: flex;
		color: #868695;
		text-wrap: nowrap;
		&_hover {
			@media (hover: hover) and (pointer: fine) {
				&:hover { 
					transition: .2s;
					color: var(--footer-hover-text);
				}
			}
		}
  }
}

@media (max-width: $breakpoint-md) {	
	.contact {
		display: inline-flex;
		padding-top: 30px;
	}
}

@media (max-width: $breakpoint-sm) {
	.contact {
		margin-right: 10px;
	}
}

@media (max-width: $breakpoint-xs) {
  .contact {
		font-size: 0.81em;
		margin-left: -40px;
  }
}