@mixin flex-center {
  display: flex;
	justify-content: center;
  align-items: center;
}

@mixin flex-end {
  display: flex;
	justify-content: end;
  align-items: end;
}

@mixin fill-clip-rule ($fill, $clip) {
  fill-rule: $fill;
	clip-rule: $fill;
}

@mixin fonts-montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

@mixin autofill-styles($bg-color: white, $text-color: black, $caret-color: null) {
  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px #{$bg-color} inset !important;
    -webkit-text-fill-color: #{$text-color} !important;
      
    @if $caret-color {
      caret-color: #{$caret-color} !important;
    }
  }

  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 1000px #{$bg-color} inset !important;
    -webkit-text-fill-color: #{$text-color} !important;

    @if $caret-color {
      caret-color: #{$caret-color} !important;
    }
  }
}

@mixin text-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  max-width: 100%;
}



