$breakpoint-md: 1000px;
$breakpoint-sm: 768px;
$breakpoint-xs: 425px;
$buttonColor: rgb(216 196 224);
$fontSegoe: Segoe UI, -apple-system, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
