$backColorElem: #eaeff2;
$backColorElemDark: rgb(234 239 242 / 28%);
$buttonColor: rgb(216 196 224);
$breakpoint-md: 1000px;
$breakpoint-sm: 768px;
$breakpoint-xs: 425px;
$fontSegoe: Segoe UI, -apple-system, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;