.cookiesNoticeBox {
    user-select: none;
}																	
                                                                    
                                                                    //АДАПТАЦИЯ 1000px
@media (min-width: 1000px) {
.cookiesNotice {
    position: fixed;
    left: 5px;
    bottom: 70px;
    width: auto;
    height: auto;
    background-color: black;
    color: white;
    padding-left: 10px;
    text-align: center;
    border-radius: 20px;
    z-index: 1000;
    &__btn {
        margin: 10px ;
        padding: 5px 15px;
        border: none;
        background-color: wheat;
        border-radius: 10px;
        box-sizing: border-box;
        transition: .3s;
        &:hover {
            background-color: rgb(243, 211, 152);
        }
    }
}
}   

																	//АДАПТАЦИЯ 768px

@media (max-width: 1000px) and (min-width: 769px) {
.cookiesNoticeBox {
    display: flex;
    justify-content: center;
}

.cookiesNotice {
    position: fixed;
    bottom: 20px;
    width: auto;
    height: auto;
    background-color: black;
    color: white;
    padding-left: 10px;
    text-align: center;
    border-radius: 20px;
    z-index: 1000;
    &__btn {
        margin: 10px ;
        padding: 5px 15px;
        border: none;
        background-color: wheat;
        border-radius: 10px;
        box-sizing: border-box;
        transition: .3s;
        &:hover {
            background-color: rgb(243, 211, 152);
        }
    }
}
}   

																	//АДАПТАЦИЯ 425px

@media (max-width: 768px) and (min-width: 425px) {
.cookiesNotice {
    position: fixed;
    bottom: 120px;
    left: 5px;
    width: auto;
    height: auto;
    background-color: black;
    color: white;
    padding-left: 10px;
    text-align: center;
    border-radius: 20px;
    font-size: 12px;
    z-index: 1000;
    &__btn {
        margin: 10px ;
        padding: 5px 15px;
        border: none;
        background-color: wheat;
        border-radius: 10px;
        box-sizing: border-box;
        transition: .3s;
        &:hover {
            background-color: rgb(243, 211, 152);
        }
    }
}
}                                                                       

                                                                    //АДАПТАЦИЯ < 425px

@media (max-width: 425px) {
.cookiesNotice {
    position: fixed;
    bottom: 120px;
    left: 5px;
    margin-right: 5px;
    width: auto;
    height: auto;
    background-color: black;
    color: white;
    padding: 5px 0 5px 5px;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
    z-index: 1000;
    &__btn {
        margin: 5px ;
        padding: 5px 15px;
        border: none;
        background-color: wheat;
        border-radius: 10px;
        box-sizing: border-box;
        transition: .3s;
        &:hover {
            background-color: rgb(243, 211, 152);
        }
    }
}
}      