body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}                                                    
                                                    //ШАПКА

.navbar {
    &.dark-theme {
        background-color: black;
		color: white;
    }
}

#search__line_line {
    &.dark-theme {
        background-color: #0000005c;
        color: #ffffff;
    }
}

.menu-mobile {
    &.dark-theme {
        background-color: black;
    }
}

.header-profile {
    &.dark-theme {
        background-color: black;
        color: white;
    }  
}

.header-profile__title {
    &.dark-theme {
        color: white;
    }  
}

                                                    //ФУТЕР

.footer {
    &.dark-theme {
        background-color: $backColorElemDark;
    }
}

                                                    //ГЛАВНАЯ

.filtersBlock {
    &.dark-theme {
        background-color: $backColorElemDark;;
    }
}

.filtersBlock__sort_title {
    &.dark-theme {
        color: white;
    }
    &.dark-theme:hover {
        color: rgba(255, 255, 255, 0.5);
    }
}

.sortMenu {
    &.dark-theme {
        background-color: black;
    }
}

.sortOption:hover {
    &.dark-theme {
        color: black;
    }
}

.filterMenu {
    &.dark-theme {
        background-color: black;
    }
}

.filterMenu__title {
    &.dark-theme {
        background-color: $backColorElemDark;
        color: white;
    }
}

.accordion__header {
    &.dark-theme {
        background-color: black;
        color: white;
    }
}

.accordion__item {
    &.dark-theme {
        background-color: black;
        color: white;
    }
}
.accordion__price {
    &.dark-theme {
        background-color: black;
    }
}

.categoriesNameMain:hover {
    &.dark-theme {
        color: white;
        border-bottom: 2px solid white;
    }
}

.setka {
    &.dark-theme {
        background-color: $backColorElemDark;
    }
}

.card {
    &.dark-theme {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.card__title:hover {
    &.dark-theme {
        color: white;
    }
}

                                                    //ИЗБРАННОЕ

.favouritesBox__table_header {
    &.dark-theme {
        background-color: black;
    }
}

                                                    //ПРОФИЛЬ

.form__registration {
    &.dark-theme {
        background-color: $backColorElemDark;
    }
}

.profile-aside {
    &.dark-theme {
        background-color: $backColorElemDark;
        color: white;
    }
}

.profile-fav {
    &.dark-theme {
        background-color: $backColorElemDark;
        color: white;
    }
}

.profile-fav__block-title {
    &.dark-theme {
        color: white;
    }
}

.profile-fav__block-title:hover {
    &.dark-theme { 
        color: rgba(255, 255, 255, 0.5);
    }
}

.profile-basket {
    &.dark-theme {
        background-color: $backColorElemDark;
        color: white;
    }
}

.profile-basket__block-title {
    &.dark-theme {
        color: white;
    }
}

.profile-basket__block-title:hover {
    &.dark-theme { 
        color: rgba(255, 255, 255, 0.5);
    }
}

                                                    //КОРЗИНА

.basketBox__product_controls {
    &.dark-theme {
        background-color: #121212;
    }
}

.basketBox__table_header {
    &.dark-theme {
        background-color: black;
    }
}

.basketBox__footer {
    &.dark-theme {
        background-color: black;
    }
}

.count__up {
    &.dark-theme {
        background-color: #121212;
    }
}

.count__down {
    &.dark-theme {
        background-color: #121212;
    }
}

.basketDelivery {
    &.dark-theme {
        background-color: $backColorElemDark;
        color: white;
    }    
}

.basketDelivery__left {
    &.dark-theme {
        background-color: black;
    }    
}

.basketDelivery__left_rules {
    &.dark-theme {
        color: white;
    }    
    &.dark-theme:hover {
        color: blue;
    }   
}

.basketDelivery__right {
    &.dark-theme {
        background-color: black;
    }    
}

                                                    //ВСПОМОГАТЕЛЬНОЕ

.recommendation__box {
    &.dark-theme {
        background-color: $backColorElemDark;
    }
}

.basket__empty {
    &.dark-theme {
        background-color: $backColorElemDark;
    }
}

.recommendationCard {
    &.dark-theme {
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.recommendationCard__title:hover {
    &.dark-theme {
        color: white;
    }
}

.support__header {
    &.dark-theme {
        background-color: black;
    }
}

.support__main {
    &.dark-theme {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.support__footer {
    &.dark-theme {
        background-color: black;
    }
}

.support__footer_message {
    &.dark-theme {
        background-color: rgb(46, 46, 46);
        color: white;
    }
}

.modal-contentBasket {
    &.dark-theme {
        background-color: black;
    }
}

.modal-contentBasket__title {
    &.dark-theme {
        background-color: #121212;
    }
}