@use '@/shared/styles/abstracts' as *;																

.basket-box {
  width: 100%;
  text-align: center;
  margin: 0 auto 20px;
  &__title {
    font-size: 1.75em;
    line-height: 1.3;
    font-weight: 700;
    cursor: default;
  }
  &__table {
    &-header {
      display: grid;
      grid-template-columns: 2fr repeat(3, 3fr) 1fr;
      column-gap: 30px;
      background-color: var(--basket-header-bg);
      padding: 22px 0;
      font-weight: 700;
      font-size: 0.81em;
      line-height: 1.2;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      border-radius: 19px 19px 0 0;
      &-title {
        grid-column-start: 2;
        cursor: default;
      }
    }
  }
  &__product {
    display: grid;
    grid-template-columns: 2fr repeat(3, 3fr) 1fr;
    column-gap: 30px;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 1.3;
    padding: 20px 0;
    border-bottom: 2px solid var(--basket-border-color);
    & > * {
      place-self: center;
    }
    &-img {
      justify-self: center;
      width: 100%;
      pointer-events: none;
      max-width: 210px;
    }
    &-count {
      display: flex;
      column-gap: 10px;
      align-items: center;
      &-box {
        width: 40px;
        height: 30px;
        background-color: var(--basket-count-bg);
        border-radius: 3px;
        padding-inline: 2px;
      }
      &-input {
        border: none;
        outline: none;
        max-width: 100%;
        padding: 0;
        height: 100%;
        background-color: transparent;
        text-align: center;
        font-size: 1.125em;
        font-weight: 600;
        line-height: 1.3;
        -moz-appearance: textfield;
        appearance: textfield;
        color: var(--basket-input-text);
      }
      &-controls {
        background-color: var(--basket-controls-bg);
        display: flex;
        flex-direction: column;
        row-gap: 9px;
      }
    }
  }
  &__footer {
    display: grid;
    grid-template-columns: 5fr 3fr 4fr;
    column-gap: 30px;
    background-color: var(--basket-footer-bg);
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.2;
    padding: 19px 0;
    border-radius: 0 0 19px 19px;
    &-title {
      grid-column-start: 2;
    }
  }
}

.count {
  &-up,
  &-down {
    border: none;
    background-color: transparent;
  }
  &-svg {
    stroke: #A0BBCC;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: .2s;
    &-hover {
      @media (hover: hover) and (pointer: fine) {
        &:hover .count-svg {
          stroke: #9814ad;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .basket-box {
    &__title {
      font-size: 1.5em;
      padding-right: 10px;
    }
    &__table {
      &-header {
        height: 1px;
        padding: 0;
        & > * {
          display: none;
        }
      }
    }
    &__product {
      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: minmax(60px, auto);
      gap: 10px 15px;
      &-img {
        grid-column: 1/3;
      }
      &-title {
        grid-column: 3/-1;
      }
      &-count {
        grid-column: 1/3;
        justify-self: center;
      }
      &-price {
        grid-column: 3/6;
        justify-self: center;
      }
    }
    &__footer {
      grid-template-columns: 1fr 1fr;
      &-title {
        grid-column-start: 1;
      }
    }
  }
}

@media (max-width: $breakpoint-xs) {
  .basket-box {
    &__footer {
      grid-template-columns: 1fr;
      justify-items: end;
      row-gap: 10px;
      padding: 19px 30px 19px 0;
    }
  }
}       