@use '@/shared/styles/abstracts' as *;

.header-nav {
	margin: 0 5px 0 auto;
	display: inline-flex;
	&__list {
		margin: 0 40px 0 auto;
		display: inline-flex;
		width: auto;
		column-gap: 12px;
	}
	&__item {
    margin: auto;
    display: inline-block;
		position: relative;
    &-style {
			display: flex;
			justify-content: center;
      color: Silver;
      text-decoration: none;
      padding: 22px 5px 0;
      width: auto;
      transition: color .3s;
      &:hover { 
        color: white;
      }
    }
	}
	&__line {
		text-decoration: underline rgb(186, 155, 194);
		text-decoration-thickness: 5px;
		line-height: 10px;
		text-underline-offset: 13.4px;
		color: white;
	}
}

.profile-dropdown {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 60px;
  left: 50%;
  transform: translateX(-50%);
	width: 190px;
	background-color: var(--profile-dropdown-bg);
  color: var(--profile-dropdown-text);
  border-radius: 15px;
  height: 102px;
  z-index: 500;
  justify-content: center;
	cursor: default;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		background: transparent;
		pointer-events: auto;
		top: -18px;
		left: 0;
		height: 25px;
	}
	&__title {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: var(--profile-title-text);
		padding: 0 16px;
		margin-bottom: 16px;
	}
}

.header-nav-mobile {
	display: none;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: var(--header-mobile-bg);
	bottom: 0;
	position: fixed;
	z-index: 700;
	&__item {
		@include flex-center;
		pointer-events: none;
		width: 40px;
		height: 40px;
		&_active {
			display: block;
			fill: rgb(96, 22, 118);
			text-decoration: none;
      position: relative;
		}
		&_passiv {
			display: block;
			fill: #a8a8a8;
			text-decoration: none;
      position: relative;
		}
	}
}
	
.circle { 
  box-sizing: border-box;
	border-radius: 17px;
	min-width: 17px;
  height: 17px;
	text-align: center;
	color: white;
	background: #e50000;
	font: 10px Arial, sans-serif;
	display: inline-block;
	position: absolute;
	top: 27px;
  right: 37px;
	letter-spacing: normal;
  padding: 3px 3px 1px;
	z-index: 300;
	&-mobile {
    box-sizing: border-box;
		border-radius: 17px;
		min-width: 17px;
		height: 17px;
		text-align: center;
		color: white;
		background: #e50000;
		font: 10px Arial, sans-serif;
		position: absolute;
		bottom: 26px;
		right: -5px;
		letter-spacing: normal;
		padding: 3px 3px 1px;
		display: none;
		z-index: 500;
	}
}

@media (max-width: $breakpoint-md) {
	.header-nav { 
		display: none;
	}

	.header-nav-mobile {
		display: flex;
		&__item {
			&_active {
				display: block;
			}
			&_passiv {
				display: block;
			}
		}
	}
	
	.circle { 
		display: none;
		&-mobile {
			display: block;
		}
	}
}