@use '@/shared/styles/abstracts' as *;

.form {
  display: flex;
  justify-content: space-around;
  &.no-wrap {
    flex-wrap: nowrap;
  }
  &-container { 
    display: flex;
    width: 40vw;
    align-items: center;
    flex-direction: column;
    background-color: var(--form-bg);
    border-radius: 19px;
    padding-bottom: 16px;
    &__input {
      padding-inline: 5px;
      box-sizing: border-box;
      border: 1px solid var(--form-item-border);
      outline: none;
      width: 300px;
      height: 30px;
      font-size: 1em;
      border-radius: 5px;
      margin-top: 5px;
      background-color: var(--form-item-bg);
      color: var(--form-item-text);
	    @include autofill-styles(
        var(--form-autofill-bg),
        var(--form-autofill-text),
        var(--form-autofill-caret)
      );
      &:focus {
        background-color: var(--form-item-focus-bg);
      }
      &_error {
        border-color: red;
      }
    }
    &-btn {
      background-color: #d8c4e0;
      border: none;
      border-radius: 5px;
      width: 150px;
      height: 40px;
      cursor: pointer;
      &:hover {
        background-color: rgb(186, 155, 194);
        transition: .3s;
      }
    }
    & label {
      display: flex;
      flex-direction: column;
    }
    & p {
      min-height: 80px;
    }
  }
  &__header {
    text-transform: uppercase;
    font-size: 1.56em;
    user-select: none;
  }
  &-font {
    @include fonts-montserrat-medium;
  }
  &-margin-top {
    margin-top: -10px;
  }
}

@media (max-width: $breakpoint-md) {
  .form {
    &.no-wrap {
      margin-bottom: 0;
    }
    &-container { 
      width: 43vw;
      &__input {
        width: 280px;
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .form {
    flex-wrap: wrap;
    &-container { 
      width: 90vw;
      &:first-child {
        margin-bottom: 15px;
      }
      &__input {
        width: 60vw;
      }
    }
  }
}

@media (max-width: $breakpoint-xs) {
  .form {
    &.no-wrap {
      flex-wrap: wrap;
    }
    &-container:first-child {
      margin-bottom: 10px;
    }
  }
}
