@use '@/shared/styles/abstracts' as *;

.button-arrow {
  &-svg {
		fill: none;
		width: 24px;
		height: 24px;
    &-path {
			fill: white;
      @include fill-clip-rule(evenodd, evenodd)
    }
  }
}

.button-grey {
  margin: 16px 0;
	width: 150px;
	height: 40px;
  font-weight: 700;
	border-radius: 5px;
	background-color: #c8c8c8;
	border: none;
	transition: .2s;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #9c9c9c;
    }
  }
}

.button-violet {
  background-color: #d8c4e0;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-weight: 700;
  transition: .2s;
	white-space: nowrap;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: rgb(186, 155, 194);
    }
  }
}

.button-cross {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: rgb(255 0 0 / 0.8);
  width: 36px;
  height: 36px;
  padding: 0;
  transition: .2s;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: red;
    }
  }
}

.to-main-button {
  background-color: #d8c4e0;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: rgb(186, 155, 194);
      transition: .3s;
    }
  }
}

.scroll-to-top-button {
	background-color: rgb(0 0 0 / 0.5);
	border: none;
	color: white;
	height: 45px;
	width: 45px;
	position: fixed;
	bottom: 25px;
  left: 20px;
  border-radius: 50%;
	transition: 0.5s;
	display: none;
	z-index: 300;
  @media (max-width: $breakpoint-md) {
		bottom: 85px;
		left: 15px;
  }
  @media (max-width: $breakpoint-sm) {
		bottom: 70px;
  }
  @media (max-width: $breakpoint-xs) {
		left: 10px;
  }
  @media (hover: hover) and (pointer: fine) {
	  &:hover {
	  	background-color: black;
	  }
  }
}

.chat-button {
	background-color: #9814ad;
	border: none;
	color: white;
	height: 45px;
	width: 45px;
	position: fixed;
	bottom: 25px;
  right: 20px;
	z-index: 100;
  border-radius: 50%;
	box-shadow: 0 0 20px rgb(0 0 0 / 0.2);
	transition: 0.5s;
  @media (max-width: $breakpoint-md) {
		bottom: 85px;
		right: 15px;
  }
  @media (max-width: $breakpoint-sm) {
		bottom: 70px;
  }
  @media (max-width: $breakpoint-xs) {
		right: 10px;
  }
  @media (hover: hover) and (pointer: fine) {
	  &:hover {
	  	background-color: #b200ce;
	  }
  }
}

.chat-button-svg {
	position: fixed;
	right: 30.335px;
  bottom: 34.29px;
  @media (max-width: $breakpoint-md) {
		right: 25.335px;
    bottom: 94.29px;
  }
  @media (max-width: $breakpoint-sm) {
    bottom: 79.29px;
  }
  @media (max-width: $breakpoint-xs) {
		right: 20.335px;
  }
}

.chat-svg {
	@include fill-clip-rule (evenodd, evenodd);
}

.button-support-message {
	background-color: #9814ad;
	border: none;
	color: white;
	height: 44px;
	width: 44px;
  aspect-ratio: 1;
	border-radius: 50%;
	transition: 0.5s;
  @include flex-center;
	z-index: 100;
  @media (hover: hover) and (pointer: fine) {
	  &:hover {
	    background-color: #b200ce;
	  }
  }
}

.confirm-delete-button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  border: 1px solid #ea3025;
  background-color: #ea3025;
  color: white;
  font-size: 0.875em;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: .2s;
	@media (hover: hover) and (pointer: fine) {
    &:hover {
      border: 1px solid #ea2f25e2;
      background-color: #ea2f25e2;
    }
	}
}

.confirm-cancel-button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: var(--bg-confirm-cancel-button);
  color: var(--text-confirm-cancel-button);
  border: 1px solid var(--color-border-confirm-cancel-button);
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: .2s;
	@media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--back-color-elem);
    }
	}
}

.button-product-controls {
  border: none;
  background-color: transparent;
  justify-self: center;
  @media (hover: hover) and (pointer: fine) {
    &:hover .button-product-controls-svg_passive {
      stroke: #9814ad;
    }
  }
  &-svg {
    padding-top: 7px;
    &_passive {
      fill: transparent;
      stroke: #7E9BBD;
      transition: .2s;
    }
    &_active {
      fill: #9814ad;
      stroke: #9814ad;
    }
  }
  &-cross {
    stroke: #7E9BBD;
    transition: .2s;
    &-hover {
      @media (hover: hover) and (pointer: fine) {
        &:hover .button-product-controls-cross {
          stroke: red;
        }
      }
    }
  }
}