@use '../abstracts' as *;

.spinner-delete-product {  
  width: 24px;  
  height: 24px;  
  border: 4px solid var(--back-color-elem);  
  border-top: 4px solid red;  
  border-radius: 50%;  
  animation: spinBasket 1s linear infinite;  
  margin: 50px auto;  
}  

@keyframes spinBasket {  
  0% { transform: rotate(0deg); }  
  100% { transform: rotate(360deg); }  
} 

.spinner-cards {  
  width: 40px;  
  height: 40px;  
  border: 4px solid var(--back-color-elem);  
  border-top: 4px solid blue;  
  border-radius: 50%;  
  animation: spinCards 1s linear infinite;  
  margin: 50px auto;  
}  

@keyframes spinCards {  
  0% { transform: rotate(0deg); }  
  100% { transform: rotate(360deg); }  
} 