@keyframes fill-progress {
  to {
    width: 100%;
  }
}

.progress-bar { 
	position: fixed;
	margin-top: 72px;
	z-index: 200;
	left: 0;
	top: 0;
	height: 4px;
	width: 0%;
	background: #9814ad;

  animation-name: fill-progress;
  animation-timing-function: linear;
  animation-timeline: scroll();
}