@use '@/shared/styles/abstracts' as *;

.dropdown {
  position: relative;
  display: inline-block;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  background-color: var(--bg-body);
  color: var(--text-body);  
  border: 2px solid $buttonColor;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  white-space: nowrap;
  outline: none;
  &:focus-visible {
    border: 2px solid #007bff;
  }
}

.arrow {
  padding-top: 2px;
  font-size: 0.8em;
  transition: transform 0.2s;
  &_up {
    transform: rotate(180deg);
  }
}

.menu {
  position: absolute;
  top: 100%;
  margin-top: 4px;
  background-color: var(--bg-body);
  color: var(--text-body);   
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.3);
  z-index: 600;
  min-width: 200px;
  max-height: 300px;
  overflow-y: auto;
  &__item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    &:hover {
      background-color: var(--admin-order-select-hover-text);
    }
    input[type='checkbox'] {
      cursor: pointer;
      margin: 0;
    }
  }
}