@use '@/shared/styles/abstracts' as *;

.search { 
	display: inline-flex;
	align-items: center;
	width: 100%;
  &__line { 
    width: 100%;
    display: inline-flex;
    background-color: #d8c4e0;
    border-radius: 10px;
		&-input {
			border-radius: 10px;
			width: 100%;
			height: 36px;
      background-color: var(--search-input-bg);
			color: var(--search-input-text);
			padding-inline: 10px;
			font-size: 1em;
			outline: none;
			border: 3px solid #d8c4e0;
			@include autofill-styles(
        var(--search-autofill-bg),
        var(--search-autofill-text),
        var(--search-autofill-caret)
      );
		}
		&-button {
			border-radius: 10px;
			height: 30px;
			margin: 3px 3px 0 0;
			min-width: 69px;
			background-color: #d8c4e0;
			font-size: 1em;
			padding: 0 15px 0 13px;
			border: none;
			transition: background-color .3s;
			&-img {
				width: 20px;
				pointer-events: none;
			}
			@media (hover: hover) and (pointer: fine) {
    		&:hover {
    		  background-color: #b193bd;
    		}
			}
		}
		&-clear {
			margin: 3px;
			border: none;
			background: none;
			border-radius: 10px;
			transition: background-color .3s;
			&:hover {
				background-color: #b193bd;
			}
		}
  }
}

@media (max-width: $breakpoint-md) {
	.search { 
		padding-right: 40px;
	}
}