@use '@/shared/styles/abstracts' as *;

.profile-dropdown {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 60px;
  left: 50%;
  transform: translateX(-50%);
	width: 300px;
	background-color: var(--profile-dropdown-bg);
  color: var(--profile-dropdown-text);
  border-radius: 15px;
  height: 102px;
  z-index: 500;
  justify-content: center;
	cursor: default;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		background: transparent;
		pointer-events: auto;
		top: -18px;
		left: 0;
		height: 25px;
	}
	&__title {
		overflow: hidden;
		text-overflow: ellipsis;
    text-align: center;
    font-weight: 700;
		color: var(--profile-title-text);
		padding: 0 16px;
		margin-bottom: 16px;
	}
}