@use '@/shared/styles/abstracts' as *;

.header-nav {
	margin-left: auto;
	display: inline-flex;
  user-select: none;
	&__list {
		margin: 0 45px 0 auto;
		display: inline-flex;
		width: auto;
		column-gap: 12px;
	}
	&__item {
    margin: auto;
    display: inline-block;
		position: relative;
    &-link {
			display: flex;
			justify-content: center;
      color: Silver;
      text-decoration: none;
      padding: 22px 5px 0;
      width: auto;
      transition: color .3s;
      &:hover { 
        color: white;
      }
    }
	}
	&__line {
		text-decoration: underline rgb(186, 155, 194);
		text-decoration-thickness: 5px;
		line-height: 10px;
		text-underline-offset: 13.4px;
		color: white;
	}
}

@media (max-width: $breakpoint-md) {
	.header-nav { display: none; }
}